[2016-06-02 19:08] flanfly opened #1 "Support for "foreign" endianess"
Goblin assumes that the integers inside the headers have the same byte order as the current platform. This obv. fails when reading ELF files meant for architectures with different endianess. Do you have any plans to add (or accept PRs) for byte order aware reading of headers?

[2016-06-02 20:08] m4b commented on #1
Hi @flanfly ! Thanks for opening an issue :)

Endianness aware parsing would be awesome. I swear I did this for rdr because it can read arm64 binaries but they might still be little endian!

I don't currently have plans to add this functionality, but would definitely accept a PR implementing the functionality, after a discussion and mutual agreement (don't want to waste your time if it doesn't ali

[2016-06-02 21:45] flanfly commented on #1
Hey @m4b, I started to implement an ELF parser for a disassembler I'm writing but I was told to cut down on the yak shaving :smile:

[The project](https://github.com/das-labor/panopticon) and the [ELF parser](https://github.com/das-labor/panopticon/tree/master/lib/src/elf/parse.rs).

What I did was to define the headers with fields that are large enough for 32 and 64 bit ELF files. The functions t

[2016-06-03 01:08] m4b commented on #1
I'm aware of the project (keep up the good work, excited to see where it goes! 😃)

So I see what you've done in your implementation.

Unfortunately that particular approach won't work, as all of my structs have `repr(C)`, as they're used in FFI, binary loading, and gdb accesses, etc., and must have that exact layout in memory, as I have to use them for pointer types, casts, memory transmutes and l

[2016-06-03 04:42] m4b commented on #1
@flanfly

So I've pushed a sample https://github.com/m4b/goblin/tree/endian branch which might start off something like I mean with feature flags:

https://github.com/m4b/goblin/commit/56f793b05746f60dcaa2541e7a5dfaeafca21ffc

If you decide you feel like making a PR, might be a good place to start?

I've also realized I want goblin's features to be all "opt-in" by default, which means the features

[2016-06-03 04:48] m4b opened #2 "make size consts consistent"
e.g., `EHDR_SIZE` -> `SIZEOF_EHDR`

[2016-06-03 18:39] flanfly commented on #1
Hey @m4b, the code you pushed looks good. Having two implementations that are feature gated is ok for me.

[2016-06-03 19:16] m4b commented on #1
@flanfly if you feel up to it, seems like it'll work for us both, feel free to make a PR

[2016-06-14 19:25] #1 closed

[2016-08-05 08:00] m4b commented on #2
Done!

[2016-08-05 08:00] #2 closed

[2016-08-08 23:17] flanfly opened #4 "Status of 32 bit ELF"
Hey @m4b, I saw you added structure definitions for 32 bit ELF files. Is there any plan to implement `Elf::from_fd` for 32 bits, too? I only had a brief look at it, but it looks like you'd need to duplicate most of the code for the 64 ELF files.

[2016-08-09 07:48] m4b commented on #4
Why hello @flanfly ! Yes indeed, that was the plan (in fact, the grand plan is to add binary targets for the three major ones, ELF, mach, and PE, finalize the api, and then release 1.0 - I'm in the process of adding mach, but it's tedious, complicated, and somewhat boring right now, so it'll take me some time :P).

As for elf32, yes I'm adding the structs right now after factoring out the modules

[2016-08-09 07:49] m4b opened #5 "add more tests"
tests, more, add them.

[2016-08-09 22:05] flanfly commented on #4
Cool, great to hear you're still working on it. The fact that goblin treats 32 and 64 bit ELF files as completely unrelated types complicates things a bit for me, but using a macro to duplicate the code that translates the `Elf` structure into my internal data structures works perfectly. While having a traits for all the structures would make it more idiomatic, this would involve writing hundreds

[2016-08-09 22:05] #4 closed

[2016-09-21 09:09] hauleth opened #8 "Use opt-in features instead of opt-out"

[2016-09-21 09:22] m4b commented on #8
Could you clarify this more?

I'm considering switching, but I'm wondering what the/your use case might be, and why it's better.

For example, it seems that the most common use of the crate is to use everything, and more specialized consumers will opt out, but this could be wrong.

I'd suggest making a poll but I'm not sure enough people use the crate for it to be unbiased ;)

[2016-09-21 10:07] hauleth commented on #8
You use flags like `elf`, `elf64` to enable support for them, and then add `default` feature that enables them all. This is generally preferred way to use feature flags than opt-out of features.
--

Łukasz Niemier
lukasz@niemier.pl

[2016-09-21 10:15] m4b commented on #8
Can you provide a simple PR demonstrating this?

Iirc there was some technical reason for using opt-out w.r.t. dryad, but it escapes me at the moment. Perhaps time to get this straightened out before 1.0?

Also I think `no_endian_fd` will likely remain the same since the default should be endian aware reading unless otherwise specified.

[2016-09-29 14:30] luser opened #9 "Allow zero-copy reading of native endian binaries"
For the simple case, where you're reading a binary of native endianness, it would be nice if the API allowed doing this without copying memory. @nrc has [a very simple elf parser](https://github.com/nrc/xmas-elf/) that uses his [zero](https://github.com/nrc/zero) crate to acheve this.  The API winds up looking like:

[code]

Your current implementation is very close, but it does clone the resultin

[2016-09-30 06:53] m4b commented on #9
@luser why hello, thanks for the issue!

So, first part: I agree it would be nice to not copy the header, but correct me if I'm wrong (and this seems to be the implementation taken in `xmas-elf`) the only way to "zero-copy" is to add a lifetime to the Header, which is then tied to the input bytes.

This then essentially embeds a reference whose lifetime is tied to the Header lifetime.  This of cou

[2016-10-08 20:50] m4b opened #10 "move endian_fd reading into nonpure and use generic Reader"
The idea is that in a non-pure setting, you'll typically always want endian_fd reading, which means we can use the generic Reader trait from std.

This will enable unit testing the endian fd readers by passing Cursor'd byte arrays.

We may be able to drop the no_endian_fd feature flag if this pans out the way I think it can.

[2016-10-14 03:52] eternaleye commented on #8
There are two distinct concerns here:

1. Opt-in vs. opt-out in terms of "what the default is"
2. Opt-in vs. opt-out in terms of "what the polarity of each feature is"

These are orthogonal, and actually have very different behaviors:

Opt-in vs. opt-out as far as defaults is a matter of preference - generally speaking, if something has no dependencies and no conflicts or concerns, it's often nice

[2016-10-14 18:28] m4b commented on #8
@eternaleye Hey, thank you so much for the detailed write up. Your arguments are compelling, and you convinced me to switch, with some caveats below.

The unused boolean in the non endian `from_fd` always bothered me from a usability perspective, and combined with #10, I am thinking we rename the endian aware `from_fd` API to just `parse<Read + Seek>`  to allow some awesome unit testing and better

[2016-10-14 18:57] eternaleye commented on #8
Regarding `pure`, I had a similar discussion on https://github.com/briansmith/ring/pull/256

For (1), it's the exact same situation as `#![no_std]` itself - every crate in the Redox dependency graph that depends on `goblin` would need to opt-out of the defaults with `goblin = { version = "...", default-features = false }`, just like they need to opt out of `std`. (This assumes `impure` is a defaul

[2016-10-16 01:46] m4b commented on #8
@eternaleye After reading your discussion on the other thread, and your suggestions above, I'm in complete agreement.

In fact, I think this should be made much more evident in the cargo docs for feature flags, as the seriousness of using negative polarities isn't nearly crucial enough imho, in addition to many people seem to be implementing the negative polarity approach for whatever reason.

Any

[2016-10-16 02:40] eternaleye commented on #8
Glad to help!

And yeah, I agree the Cargo docs really ought to be more explicit about this.

[2016-10-16 05:50] #8 closed

[2016-10-16 05:50] #10 closed

[2016-10-16 05:59] m4b opened #11 "pull core-only dependent functions and impls out of `impure`"
This will make them accessible to consumers who use don't use `std` (because why not), and will also remove the warnings for those who use `std` but not `endian_fd` (binary loaders, dryad), and will also make the api more usable in general.

[2016-10-16 06:01] m4b opened #12 "consider implementing a COW for the strtab"
Currently it's tied to std and requires non-`std` using consumers to do without the strtab (redox, for example).  Currently this isn't much of an issue for most people, but in the future will just be nice to have the strtab not tied to std (which theoretically it shouldn't need to be).

[2016-11-15 05:59] m4b commented on #9
So. I have an idea how to make parsing faster a la combination of references, less copying, and what not. It'll have a number of benefits hopefully.

But it will involve me writing 2 separate crates :/ one of them is half done, other is not really started.

However, I think it will be worth it and will solve a number of technical problems I keep encountering when using goblin in day to day activit

[2016-11-15 10:58] luser commented on #9
Yes. :) Sorry, have a potential use for this but it's not something I'm actively working on daily so I lose track of it sometimes.

[2016-11-15 17:08] m4b commented on #9
No worries! Just letting you know about a general status update on this issue :)

[2017-03-26 22:18] m4b opened #14 "zero-copy elf"
Like incoming mach parser, add "zero-copy" implementation to elf.

E.g.:

https://github.com/m4b/goblin/blob/better_mach/src/mach/mod.rs#L21-L33

This will require removal of `try_from` api for taking owned `fd` and creating struct, as well as updating the `Strtab`'s to use the lifetime of the `Elf` struct, and a couple more optimizations we can perform.

In addition, might be nice to add Exports,

[2017-03-26 22:21] m4b opened #15 "zero-copy pe"
See #14

[2017-03-26 22:23] m4b opened #16 "zero-copy archive"
see #14

This might be more tedious.

Also should revert the archive header name back to original byte array, to keep `repr(C)`, which should allow for implementation to be `derive(Pwrite, Pread)`

[2017-03-26 22:23] m4b opened #17 "Remove cow from `Strtab`"
This will force `Strtab` to be zero-copy and also usable in `no_std` scenarios (which someone complained about wasn't possible).

This is easy, just deletion of code, and update definitions.  But this is blocked on #14, #15, #16

Will close #12 , as it makes it no longer necessary.

[2017-03-27 05:18] morrme commented on #17
I can pitch in to do the deletions/updates with a little guidance. I've located the file and see the references.

[2017-03-27 17:14] m4b commented on #17
@morrme awesome ! I think I can finish the elf changes fairly quickly, which is the primary blocker.

So primary changes are:

1. Deletion of the cow usage and import, update methods respectively.
1. Removal of std compilation flags on strtab module . This is hard to test currently. I usually run `make api` and verify everything compiles without warnings. Really need a dummy project which uses elf

[2017-03-27 17:38] m4b commented on #17
FYI this will have annoying lifetime issues and will likely require annotations in various parts of clients, and likely explicit annotations in the impl of the strtab itself. But it should be possible.

[2017-03-27 17:50] m4b commented on #17
PSS @morrme actually I think these changes need to be made in tandem with elf zero copy #15, as a full version will be blocked on this iirc. I will push a minimal change to elf parser tonight which will allow you to make these changes, and then should be able to work on this as soon as you want.

[2017-03-28 05:22] m4b commented on #17
@morrme K don't worry about tests, current ones should cover it.

I think you can start on this now (need to pull latest master though); the various clients, archive, and elf should now be passing a lifetime parameter to their instances like so: `Strtab<'a>` (instead of previous `'static`)

which means should be ready to be de-cow-ified, etc.

Let me know if you have any problems or questions :) a

[2017-03-31 21:18] le-jzr commented on #14
I can't help but notice that the Mach parser still contains vectors, which means heap allocations. Isn't it possible to make a parser that doesn't use heap at all? Osdev interested person here. :-P

[2017-03-31 22:30] m4b commented on #14
@le-jzr hello!

Zero copy was in quotes ;)

So before I get into the fine grained nature of this, and please don't take this as me explaining to you things, as some or all you probably already know, just clarifying the terms but:

1. Zero copy doesn't necessarily mean no allocations, just means we don't copy things when we don't strictly need to. Strings and block delimited things a prime example

[2017-04-01 00:02] le-jzr commented on #14
I see I badly formulated my question. I didn't intend to make you write up such an extensive reply. :)
First off, I have no use for Mach parser in particular, only seeing it as template for the others. My real motivation is about reading ELF files early in boot process, when there is no heap available.

While you don't really need a parser for it, some kind of safe generic code seems way better th

[2017-04-01 00:06] le-jzr commented on #14
As you pointed out, taking advantage of assumptions like native endianity makes things vastly simpler, so the real question is whether that simplification warrants a separate code base that does essentially the same thing. I suspect it does, but you'd have more experience to answer it. :)

[2017-04-06 05:34] m4b opened #21 "add a zero-copy, safe, symtable for use in no std"
It would pass out references to `Sym`s, which are byte-casted from a backing `&[u8]`; and have a `new -> Result` api (which validates the bounds).  We'd need two for elf32 and elf64 probably; or we can initialize as 32 or 64 bit (or pass a container context, which has less boolean blindness).  This will be tricky and annoying I think due to type name punning stuff, so probably easiest to just add

[2017-04-07 17:29] m4b commented on #17
@morrme you still working on this ? It's ok if you're too busy :) just wondering if I should start on it or not

[2017-04-07 20:18] morrme commented on #17
@m4b i actually got stuck.  if you've freed up, you can probably get it done quickly. i will check it out afterwards to see what i missed! :)

[2017-04-07 21:21] m4b commented on #17
This is very likely my fault :/ I'm in the process of reverting `AsRef<[u8]>` everywhere due to the mechanics of it forcing local borrows. This isn't a problem until you try to embed the parse function in another function in which case the borrow is local and it won't last long enough ... this might be catching you up and I'm sorry about that if so.

Once this painful transition is over converting

[2017-04-09 19:33] #12 closed

[2017-04-09 19:33] #17 closed

[2017-04-27 06:30] m4b commented on #14
Ah I see what you mean now. You want an `Elf` like struct which you create via some bytes and it returns the parsed out structure, and with whatever endianity the machine is, with ideally no allocation AND lazy parsing if possible.

So the parser here was always intended to be used for arbitrary endianity.

A native endian elf parser is easily possible, with very likely zero allocation as well. Fo

[2017-05-08 06:50] philipc opened #22 "goblin::mach::load_command::Segment::sections() returns sections with wrong lifetime"
I'm trying to use goblin as the object file loader in the gimli crate. Basically all it needs to do is parse the ELF/Mach-O header and return the data for sections with a given name.

However, I'm having trouble getting Mach-O sections, because `Segment::sections()` returns sections that have the lifetime of the segment, instead of the data. That is, `Segment::sections()` is defined as:
[code]

bu

[2017-05-08 17:10] m4b commented on #22
@philipc Hi and thanks for the issue !

So this makes me sad, you are correct; something is broken with `gread_with` lifetimes :/

However, I've patched and fixed it using just the `pread_with` alternative and manual offset incrementing.

I've also added a new test that should ferret out any regressions in lifetime issues like this, basically copying above code: https://github.com//m4b/goblin/blob

[2017-05-09 10:16] philipc commented on #22
Thanks for the quick fix; that fixes compilation for me. I haven't actually tested that it executes properly yet though, because I don't have access to any Mach-O binaries with DWARF debug info to test with. I hope to resolve that soon.

[2017-05-09 10:51] philipc commented on #22
I managed to get a binary out of travis, and that all works fine, including the new `Section::name()` method. A new crates.io version would be great, thanks.

[2017-05-10 03:47] #22 closed

[2017-05-10 03:49] m4b commented on #22
FTR, the fix in scroll was just a mistakenly forgotten `[u8]` impl :/

e.g.:

[code]

I'm glad this was caught though, and again thanks for the report!  I'll work on getting a new version of goblin out asap, maybe tonight

[2017-06-24 21:31] sanxiyn opened #23 "Overflow"
Do you care about overflow?

For example, you can trigger one by replacing 8 bytes from 0x20 (e_phoff) of ELF-64 binary with 0xff repeated 8 times.

[code]

[2017-06-24 22:03] m4b commented on #23
Hi @sanxiyn thanks for the issue, and also the backtrace, this helped very quickly figure out what caused this ! :)

So I actually experimented with fuzzing goblin a while back; I'd like to explore that route more, and it did catch some bugs.

In this particular case, iiuc, you're setting `e_phoff = 0xfffffffff`, which means that the program headers start at an offset in a binary larger than the m

[2017-06-29 08:08] m4b opened #24 "needs `debug_struct`, etc., in Debug impls"
E.g.:

[code]

should use a `debug_struct` so can pretty print, etc.  It just looks crappy now :/

[2017-07-03 14:04] sanxiyn commented on #23
I sent #25.

[2017-07-03 17:49] m4b opened #26 "archive: needs to parse osx/bsd random archives"
It can parse them without dying but the filename delimiters are different (uses `#`), so it doesn't really parse them at all.

See https://en.wikipedia.org/wiki/Ar_(Unix)#BSD_variant

[2017-07-03 19:20] m4b opened #27 "Tracking issue for fuzzing"
Many overflow issues should disappear once upgraded to latest scroll

* [ ] With seed 4, I get another overflow at src/strtab.rs:37. (To reproduce, be sure to delete fuzz/corpus.)
* [ ] Seed 10 gives index out of bounds at src/elf/mod.rs:205. (Corrupt sh_link.)

/cc @sanxiyn

[2017-07-04 12:22] sanxiyn commented on #27
Seed 41 gives index out of bounds at src/elf/dyn.rs:402. (DT_NEEDED.)

I systematically ran 1 million runs each for seed from 1 to 100.

* 56 successes
* 34 failures
  * 23 in strtab
  * 7 in sh_link
  * 4 in DT_NEEDED
* 9 out-of-memory
* 1 AddressSanitizer failure

At this point, it is probably necessary to fix above 3 issues before finding others.

[2017-07-06 07:51] m4b commented on #27
This is really great, thanks for doing this ! :) :+1:

Unfortunately, these fixes are blocked until latest version of scroll lands. In meantime, good to note them here; eager to see what else is in store once the scroll update lands :)

[2017-07-29 02:30] willglynn opened #28 "PE: ImportLookupTableEntry::parse() panics"
I'm getting panics on [this line](https://github.com/m4b/goblin/blob/1595f19610ae5d95a7710d6d245c56856b75fb65/src/pe/import.rs#L64) while trying to parse a particular executable. Unfortunately, this executable is proprietary so I can't share it, and I don't know enough about the PE format to understand what's going on here.

I did however write a script to run through the PE executables on my mach

[2017-07-29 02:53] m4b commented on #28
@willglynn awesome thanks for providing what you could, will make much easier !

I'm not in front of a puter right now but I will look into this asap, pretty sure it was a case of me unwrapping when I shouldn't have, the PE backend, is alas, slightly less filled with love than Mach or ELF.

Also, I assume from the repro this is coming from goblin master? I don't know the commit offhand but if it's

[2017-07-29 03:16] willglynn commented on #28
Great, thanks! :+1:

That commit is indeed latest `master`, though I originally encountered the issue running 0.0.10. I've hacked things around so as to not be stuck, but I have no idea what these PE files are trying to say so I don't dare submit a patch.

I did notice that typical values for `rva` appear to be largeish offsets within the file, while typical values for `ordinal` tend to be tiny in

[2017-07-29 03:33] willglynn opened #29 "Mach-O: improve entrypoint handling"
Comparing `goblin`'s implementation and my current working memory of `dyld`, I have two observations:

1. `LC_MAIN` and `LC_UNIXTHREAD` both provide entrypoint locations, but the environments provided by each are not interchangeable. (See [`dyld.cpp`](https://github.com/opensource-apple/dyld/blob/master/src/dyld.cpp#L4955-L4968), [`dyldStartup.s`](https://github.com/opensource-apple/dyld/blob/mast

[2017-07-29 05:03] m4b commented on #29
I like to pretend that `LC_UNIXTHREAD` doesn't exist :hearnoevil:

Second point is good to know, iiuc, this is the current behavior and nothing needs to change ?

I'm not sure I understand the first point completely though? The address in either case is a vm address, iirc, and it shouldn't matter how I arrived at the value, no?

Especially since I think almost all OS X binaries are all PIC and all

[2017-07-29 05:19] willglynn commented on #29
The second point means `goblin` doesn't need to have a ton of different thread state structs. Given that only one register matters, all the arch-specific thread state structs can be boiled down to a single `u64`. `goblin` still needs to know how to find that value for each architecture since the offset and size vary, but the `LC_UNIXTHREAD`-encapsulating struct doesn't need to remember AVX/MMX reg

[2017-07-29 05:25] m4b commented on #29
Ah k, we'll choose main or thread and add a new flag to the struct stating whether it was from modern or old version in case a client wants to know this.

Thanks for the info, will implement this asap !

[2017-07-29 15:07] willglynn commented on #26
TIL: `ar` is alive and well on MacOS X. Posting for posterity:

I had thought all recent `.a`s would be Mach-O since the need to support universal binaries over a decade ago. There was a push to replace `ar` with `ranlib` way back in the day, and another to replace `ranlib` with `libtool -static` more recently. Everything besides `ar` produces something that looks like any other Mach-O object file

[2017-07-30 19:29] m4b commented on #27
Ok, the scroll port/branch is now on master, and so can fuzz/report bugs from there!

[2017-07-30 19:41] m4b opened #32 "EASY: add logging to goblin"
It's time to get Real Serious :tm: and add logging to goblin.

There are a number of places in goblin where things have "gone wrong", but not enough that we shouldn't parse.

Refactoring `dyn` to check the index of `DT_NEEDED` to fix a bug found while fuzzing, ref #27, we should continue parsing, but the client only receives a `None`, which is fine for clients, but we may also want to know why we

[2017-07-30 19:43] m4b opened #33 "EASY: remove all `scroll::Error` from goblin"
Clients should never have to import, and impl error routes for scroll when they use goblin (unless of course they also use scroll, but that is orthogonal).

It is, in effect, in goblin an internal library.

[2017-07-30 20:46] m4b commented on #14
This is basically done; can add lazy relocation parsing later, via another issue

[2017-07-30 20:46] #14 closed

[2017-07-30 20:49] m4b commented on #26
Yea, so current archive parser will actually parse the archive "correctly", but doesn't understand the invented indexing "semantics" that the various archive formats ad hoc-ly bolted onto archives.

So easy way to experiment with this is `cargo build --target=x86_64-apple-darwin`, and you can example the resulting `libgoblin.rlib` which LLVM emits, which is the BSD style ar :/

[2017-08-01 15:00] sanxiyn commented on #23
This is fixed after scroll update. Now you get:

[code]

[2017-08-01 15:00] #23 closed

[2017-08-01 18:38] sanxiyn commented on #27
I re-ran fuzzing on 9f405aa, and the result is:

* 65 successes
* 11 out-of-memory
* 19 strtab (seed 2)
* 5 sh_link (seed 64)

DT_NEEDED seems fixed.

To reproduce with seed X, run `rm -rf fuzz/{artifacts,corpus}; RUST_BACKTRACE=1 cargo fuzz run parse -- -seed=X`.

[2017-08-02 10:55] sanxiyn commented on #27
With #34 merged, 71 successes, 20 out-of-memory, 9 sh_link (seed 1). Hm, I hoped to discover some new issues, but no dice. Maybe I should try something new.

[2017-08-03 07:43] sanxiyn commented on #27
With #35 merged, I am happy to report that goblin withstood 100 million fuzzing runs, 1 million runs each for for seed 1~100.

Please close this issue. I will open the new one when I discover more issues by fuzzing differently. First thing to try is adding corpus, instead of starting from zero.

[2017-08-04 06:59] m4b commented on #27
:+1: thanks for all your investigations, this was epic! :D

[2017-08-04 06:59] #27 closed

[2017-08-05 17:44] ssokolow opened #36 "Goblin panics when reading certain kinds of UPXed binaries"
I was investigating my options for parsing EXE files to determine what environment to auto-fill in my experimental game launcher (ie. DOSBox, Wine, Wine+qemu-user, Mono, etc.) and I managed to trigger some panics in goblin.

[code]

Here's a backtrace which appears to represent all of the panics:
[code]

While this renders it unsuitable for my project (the mere fact that Goblin is capable of dying

[2017-08-05 20:16] m4b commented on #36
Hello and thanks for the bug report! Sorry this crate didn't work out for you

Pretty sure this is a dup of #28

Should be relatively straightforward to fix, just been busy. The panic is just because it unwraps an option, I believe it's one of the last remaining places that unwraps in a parsing scenario.

Unfortunately I definitely don't have time to generate the binaries.

From the log you posted

[2017-08-05 20:34] m4b commented on #36
Oh, you're trying to parse binaries compressed with this? https://en.wikipedia.org/wiki/UPX

Yea, from what I understand, that modifies the on disk image, which is completely unsupported by goblin, probably forever.  I would have to essentially write a UPX decompressor, which isn't really goblin's job

[2017-08-05 20:52] ssokolow commented on #36
A UPX-compressed binary still has to present a certain minimum file structure to the OS to remain executable and leave the first icon resource uncompressed so Windows can display it.

My goal is simply to heuristically generate launcher menu entries from a recursive filesystem traversal. That means that I only need best-effort support of the following functionality:
1. Assign DOS (MZ), Windows 3.1

[2017-08-05 21:00] m4b commented on #36
I very much would like to see and test on these binaries, please.

Is emailing a possibility - m4b dot github dot io at gmail dot com ? Also firefox added some 1GB upload thing.  Otherwise I don't know how to internet very well :/

Interesting; definitely need to see these binaries.

IIRC, I thought PE binaries were dos binaries; every "pe" binary has a dos header, which alternatively has a pointe

[2017-08-05 21:03] m4b commented on #36
Actually a just checked code, and it assumes it's a PE binary by always assuming the PE pointer is valid; porting to parse DOS files should work without much effort

[2017-08-05 21:20] ssokolow commented on #36
I'm doubtful. When I had to send a project to my professor, I wound up getting fed up trying to outwit GMail's "nothing which might be virus-like" detector and just resorting to the release upload functionality on a private BitBucket repo.

Give me a sec and I'll see if I can remember how to get Dropbox to generate a share URL. (I haven't touched it since they killed off the Public folder function

[2017-08-05 21:36] ssokolow commented on #36
Here. I can't guarantee this'll be up until the end of time, but it's only half a megabyte, so I'll leave it in my Dropbox until some point in the indefinite future when I've forgotten why it was there and delete it.

https://www.dropbox.com/s/cxrgj4eyfkb69n8/test_exes.zip?dl=0

It contains `hello.c`, `hello.cs`, `build.sh`, and the 30 different binaries built from that combination of input files.

[2017-08-05 22:04] m4b commented on #36
@ssokolow Awesome, got it! Thanks for much for uploading it; investigating the binaries now, in particular: `hello_mingw64.upx.exe`

Seems the KERNEL32 import entry rva can't be transformed into an offset into the binary:

[code]

Now I need to figure out why

[2017-08-05 22:21] ssokolow commented on #36
Be aware that `hello_mingw64.upx.exe` is the one EXE that I didn't reconfirm just before sending that, because of the aforementioned detail that my Wine prefix is 32-bit.

Give me a few minutes to figure out which of my PlayOnLinux prefixes are 64-bit and I'll pop open a console in one of them and confirm it there.

[2017-08-05 22:26] ssokolow commented on #36
OK, confirmed. Both `hello_mingw64.exe` and `hello_mingw64.upx.exe` work perfectly in a 64-bit `WINEPREFIX`.

[2017-08-05 22:36] m4b commented on #36
It's ok, I think I fixed it.  Going to push now, onto master, and test some more.

The KERNEL32 doesn't have an import lookup table, only an address table. I believe this means it requests an import from an absolute address from kernel32 iirc; since iirc windows builds all system binaries with absolute values
 of functions precomputed (i.e., basically nothing is PIC, everything is absolutely reloc

[2017-08-05 22:45] m4b commented on #36
I think this commit fixes the issue, which was that import lookup tables are essentially optional. @ssokolow would you mind verifying on your end?  Or if not that's cool too, otherwise will close, thanks so much for the info and files.

I believe the magic errors are due to not properly parsing just a DOS file, which would be a simple PR iiuc.

I'm not sure about the offset errors coming from the

[2017-08-05 23:11] ssokolow commented on #36
I've never looked into how to reference a git repo from `Cargo.toml` and I'm getting sleepy, so I'll have to verify tomorrow.

[2017-08-05 23:13] m4b opened #37 "Fuzz all the things with corpi"
Tracking issue for fuzz related stuff.

We'll start using a corpi now.  In particular, I'd like to see PE and Mach backends fuzzed extensively, I'm sure they have more bugs.

/cc @sanxiyn

[2017-08-05 23:16] m4b commented on #28
@willglynn I believe this resolves it at least in the case of curl, though why the binary has that bad RVA is a bit mysterious; i wonder what the kernel is doing when it hits that RVA :thinking:

At first I thought it wasn't bad, but I was doing ordinals wrong (since the RVA was small (`0xa`), which had no chance of being found in sections starting from `0x1000` onwards, I thought it was an ordina

[2017-08-05 23:18] m4b commented on #36
NP, no rush, I do think it's been resolved though.

(And for the record it would be:

[code]

and then you might need to do `cargo update -p goblin` if their are troubles, not sure what other deps you have.

I need to remove map the unwraps to ok_or in exports, and then i believe PE is completely panic free, fwiw.

[2017-08-05 23:22] m4b opened #38 "EASY PE: should Import.name be option?"
[code]

this ("ORDINAL 0") is ~~basically~~ a stupid hack, but it makes working with Import much nicer. Alternatively, could make an enum, but, i dunno that just annoys me for some reason

[2017-08-05 23:43] willglynn commented on #28
Yep! `master` works on the proprietary executables as well. Thanks!

[2017-08-05 23:43] #28 closed

[2017-08-06 08:53] ssokolow commented on #36
OK, I've just tested commit bd686608d7b0073371961d7bd425b7ddca220e27 and here's what I found:

1. It did fix the panics.
2. Something broke the ELF support since 0.0.10:

[code]

    Speaking of which, feel free to incorporate those files I sent you into your test suite if you want.

    I don't think a "Hello World" implementation is novel enough to qualify for copyright, they're all built using

[2017-08-06 09:17] sanxiyn commented on #37
I just realized my mistake. Current rust-fuzz/libfuzzer-sys defaults to maximum 64 bytes when you don't use corpus. Since PE DOS Header is 64 bytes long, this means PE parser wasn't fuzzed at all.

[2017-08-06 17:12] m4b commented on #37
Ya that doesn't surprise me, since I'm sure PE had more bugs. Was Mach fuzzed too? I'm surprised their wouldn't be more bugs there

Might also be good to fuzz the native endian methods, but that will be more work. Might be better to steal the native endian object loader from dryad and use that

[2017-08-06 17:23] m4b commented on #36
Thanks for the list!

So I need to check but most of those are acceptable unwraps, e.g. in debug printers or implementations that state they are allowed to panic.

The used in PE export are not, specifically unwrapping the option. Those will be easy to fix.

As for binaries, thank you! I don't like committing binaries into goblin but I might make a goblin_binaries repo and have it as a submodule f

[2017-08-06 17:39] sanxiyn commented on #37
I think what's going on is that `ELFMAG` is `[u8; 4]`, but `FAT_MAGIC` is `u32`. So the fuzzer can guess ELF magic byte by byte guided by coverage, but partial guess of Mach magic does not give you any coverage feedback... It's all moot since we will use corpus.

[2017-08-06 23:24] ssokolow commented on #36
No problem. :)

I just hope that some day, someone with more time than I have decides to implement [my idea](https://github.com/alexkehayias/cargo-safety/issues/3) for a "find all non-whitelisted panics" static analyzer to do that sort of thing properly.

Not ideal, but OK. (It's nice to be able to use such things in your logging or error reporting facilities without having to wrap them in a panic

[2017-08-08 01:52] endeav0r opened #40 "Internalize scroll::error::Error"
When using goblin with error chains, if I want to match the error with things like `elf.dynstrtab.get()`, I need to handle the `scroll::error::Error` error. This would require me to also include the `scroll` crate.

It would be nice if this became a goblin error instead, so I don't need to explicitly include another crate to handle this error.

[2017-08-08 02:01] m4b commented on #40
Hehe, yup this was an oversight on my part, and already noted in #33 :)

Most APIs a user would use are already fixed in master or 0.0.10. The remainder will be also purged by 0.0.11

Also speaking of `get`, its now an `Option<Result<&str>>` in master; sorry about the breaking API changes, fuzzing turned up some issues.  Hoping to nail down most of the API space by 1.0 (primarily by using it in pr

[2017-08-08 02:29] #36 closed

[2017-08-08 03:33] #33 closed

[2017-08-08 03:33] #40 closed

[2017-08-08 03:38] endeav0r commented on #40
Thanks! Your doing great work with this library.

[2017-08-08 03:44] m4b commented on #40
Thanks! :heart:

[2017-08-08 04:07] m4b commented on #32
logging is in place, now can slowly add logs where appropriate to places. PE is mostly done I think, minus the exports.

[2017-08-08 11:18] ssokolow commented on #36
Thanks. Once I have time to go through and make a list of the functions to avoid calling to ensure panic-safety, including in my debug logging, I think this is what I'll wind up using in my project.

[2017-08-15 23:41] #29 closed

[2017-08-17 02:41] willglynn opened #47 "Nonstandard configurations need CI coverage"
Nonstandard configurations needs CI coverage so people (like me) don't break it by accident.

`make api` runs:

* `cargo build --no-default-features`
* `cargo build --no-default-features --features="std"`
* `cargo build --no-default-features --features="elf32"`
* `cargo build --no-default-features --features="elf32 elf64"`
* `cargo build --no-default-features --features="elf32 elf64 std"`
* `cargo

[2017-08-17 03:41] m4b commented on #47
I think this is the right list, really it's just elf+std+endian fd.

Personally I hate supporting core and std and all that shit. I don't even like the feature flags.

I'd like to refactor it one day but it's kind of yak shaving to the extreme.

Anyway. I would perhaps like doing what futures crate does with a if_cfg macro it's pretty cool. Don't have a link right now.

I'm fine with cargo test ju

[2017-08-17 05:28] #16 closed

[2017-08-17 23:10] ssokolow commented on #36
Just for the record, I hadn't realized how much `unsafe` code is in Goblin. Given that I doubt my ability to audit it, I'm back to considering writing my own PE/NE/LE/MZ parser using Nom.

[2017-08-18 03:30] m4b commented on #36
The parser uses no unsafe code except in PE array accesses which are easily verified to be safe

[2017-08-25 04:38] m4b commented on #5
more, tests, have been added

[2017-08-25 04:38] #5 closed

[2017-08-25 04:39] m4b commented on #15
I haven't surveyed PE but i don't think there's much non-zero copy stuff left

[2017-08-25 04:42] m4b commented on #11
I want to do this, but I'm just not motivated.  I think we need to copy alex chrichton's approach in futures: https://github.com/alexcrichton/futures-rs/blob/3c0fbfc3b46fa0b5445459cf6b359ca39d2aaa30/src/future/mod.rs#L78-L114

i think it'll be much readable, friendly, and approachable, but i don't have the energy right now for another goblin internal's refactor

[2017-08-25 04:45] m4b commented on #9
I think @le-jzr had some ideas about this, and did some great work making the unsafe zero-copy transmutes working well, but i'm not sure exactly how it would look.

For a loader, which I think is the primary usecase, this is about as efficient as it gets: https://github.com/m4b/dryad/blob/b26dc12c96919e3fe2fd3515c41832b0be191300/src/loader.rs#L73

but I don't think it would integrate well with the

[2017-08-25 11:40] le-jzr commented on #9
Funnily enough, the above-mentioned `zero` crate does almost exactly what `plain` does, except the name and description is so obscure it didn't come up in any searches when I was looking for crates like that.  *shrug*

[2017-08-26 00:31] willglynn opened #49 "Parse ELF notes"
`greadelf` can produce data like:

[code]

I want this data -- particularly `NT_GNU_BUILD_ID` -- for collating with external debugging data.

My understanding is that the linker (usually?) consolidates all the note sections into a single `PT_NOTE`  segment, and that the segment remains parseable even if the section headers are stripped.

I think the `PT_NOTE` segment is a series of target-endian s

[2017-08-26 05:57] m4b commented on #49
Yea, let's add it (and the constants, etc.)!

I checked, if you `sstrip` a binary, readelf, etc., can reconstruct the `PT_NOTE` section because they all have the same struct format, so yes, you are correct.

but let's do it right and add the 32/64 bit variants from elf.h; your version, `Note<'a>` will be our synthesized version.  We can just drop the `namesz` and `descz` altogether, since they're

[2017-08-26 19:41] willglynn commented on #49
How does padding work on 64-bit ELF? Is it still `% 4 == 0`, or is it `% 8`?

[2017-08-29 05:03] m4b commented on #49
@willglynn what specifically do you mean? I don't actually know much about padding offhand, @le-jzr probably does though.

But why do you ask, something to do with above struct defs, or?

[2017-08-29 07:00] m4b commented on #49
the implementation currently is broken for 32-bit binaries :sob: pretty sure this is what @willglynn you were asking about

[2017-08-29 10:57] le-jzr commented on #49
It's `% 8` on ELF64. http://www.sco.com/developers/gabi/latest/ch5.pheader.html#note_section

[2017-08-29 11:07] le-jzr commented on #49
This just means you have to align the pointer to `desc` up to a multiple of 4 (ELF32) or 8 (ELF64).

[2017-08-31 06:59] m4b commented on #49
This is completely ridiculous. ELF nonsense strikes again. Or rather mainline ELF compilers preserving bad behavior.

It looks like _both_ 32 and 64 bit ELF files use **32-bit structs**; the error was because I _accidentally_ parsed 32-bit forms for 64-bit, and 64-bit for 32 (and hence parsed out bad data): https://github.com/m4b/goblin/blob/8ac32549f6838871aeaff8f2fcb890bd12e76e03/src/elf/note.rs

[2017-08-31 07:00] #49 closed

[2017-09-27 02:07] jackpot51 opened #50 "`std` is required when `std` feature is not used"
Due to the `log` crate, `std` is required. To fix this, remove the `use_std` feature from `log`.

[2017-09-27 03:30] #50 closed

[2017-09-27 03:31] m4b commented on #50
:/

sorry this was a stupid oversight iiuc; i believe above commit fixes

@jackpot51 do you want me to publish new crate ?

[2017-09-27 03:32] m4b commented on #50
nvm it does not

[2017-09-27 03:46] m4b commented on #50
ok it should be fixed in b326d51

[2017-10-11 17:34] mitsuhiko opened #54 "Change debug prints to show "strings" as strings"
Right now some of the debug prints are hard to read because they spit out the byte arrays as arrays instead of something more byte readable. In particular this affects things like section names.

[2017-10-11 17:43] m4b commented on #54
Should be easy for section names (iirc only segment is like that); just do `name.pread::<&str>` and unwrap_or if the utf8 is bad

[2017-10-11 18:01] mitsuhiko commented on #54
Yeah. Doesn't seem massive amounts of work. It also affects UUIDs.

[2017-11-09 05:24] m4b opened #58 "Goblin ergonomics"
This deeply annoys me:

[code]

I think there's an architectural problem and an ergonomics problem here.

1. We don't want to read the entire binary/file if it doesn't even have proper magic; this is what peek is for
2. If we pass the peek test, we want to read the file in full, and pass these bytes into goblin, and receive the enum variant
3. We don't want to even think about the `Unknown` varian

[2017-11-09 05:54] philipc commented on #58
I haven't used `goblin::Object` (or if I have I've forgotten where).

So far I've only used goblin with memmap input, and I think the existing `Object::parse` would work for that.

The proposed `parse_and_fill` makes sense to me. Why would it be a breaking change to add it? I tend to prefer ordering the return value as `Result<Option<Object>>` though.

[2017-11-09 06:26] m4b commented on #58
It could be a breaking change because i want to remove the Unknown variant since the peek ostensibly makes it redundant, or forces an unreachable clause (which is a sign of bad design to me)

[2017-11-09 12:48] sunfishcode commented on #58
What if `peek` returned an `Option<Hint>`?

[2017-11-09 13:30] endeav0r commented on #58
1. I am 100% ok with breaking changes.
2. This is confusing: https://github.com/m4b/goblin/blob/master/src/lib.rs#L200 . Is `is_lsb` little endian?
3. How about something like:

[code]

Not exactly, but you kind of get the idea.

[2017-11-10 23:20] m4b commented on #58
So to be clear the pattern I don't like is this:

[code]

That last `unreachable` in `Object::Unknown` is, to use an unpalatable term, "has code smellies" to me ;)

I actually don't think there is way to fix this, short of adding dependent types to rust :thinking:

So there's a couple of problems:

1. object needs bytes (it has a lifetime), so we can't expose an api like `fn parse<R: Read>(r: R) -

[2017-11-10 23:26] m4b commented on #58
[code]

It looks we're angrily confused about the goblin library and this function call :rofl:

[2017-11-10 23:32] m4b opened #59 "Error Management: switch to `Failure` ?"
So I've been holding off on error libraries, but `Failure` genuinely looks exciting and cool.

I am ok with dynamic allocation, since the parser allocates already, and parsing binaries generally won't be in a hot loop, and if it is, it'll likely be dwarfed by io reads anyway.

This might also be an opportunity to provide better error messages because errors in goblin aren't so great. but this is m

[2017-11-10 23:52] sunfishcode commented on #58
How about this?
[code]
`goblin::parse` would determine the filetype from the magic parameter.

[2017-11-10 23:55] m4b commented on #58
What if you pass an invalid magic? It will have either error with bad magic (same problem I mentioned above) or return variant of Unknown, or still have signature like `Result<Option<Object>>`; which at that point may as well push all the fd + peek logic into a single function

[2017-11-11 00:03] sunfishcode commented on #58
I'm suggesting peek return an Option<Hint>. With invalid magic, peek would return None, and in that case you wouldn't call parse at all.

[2017-11-11 00:06] sunfishcode commented on #58
[code]

[2017-11-11 00:06] m4b commented on #58
Right, but what would the internal logic of `parse(magic: usize, bytes: &[u8])` look like?

It has to still check the magic is valid - either it will return Option, Result with an Unknown variant, or panic, no?

[2017-11-11 00:09] m4b commented on #58
Oh, I see what you're saying, I thought the peek was a usize:

[code]

[2017-11-11 00:15] m4b commented on #58
Yea I like that idea; it makes using goblin from raw bytes slightly more complicated though.

Using your proposal I think I like this api:

[code]

For clients who already have the bytes but no `fd` it sort of makes goblin a pita to use though. I'm not sure how common this would be though. probably could be very common.

[2017-11-11 00:20] willglynn commented on #58
One thought [in reply to this](https://github.com/m4b/goblin/issues/58#issuecomment-343612776):

There is no such guarantee. Files can change between reads, and `mmap`'d files can even change mid-read. Or, plain old user error: the user can pass one buffer into `peek()` and another into `parse()`.

Even if you `peek()` successfully, `parse()` has to handle the invalid magic case.

[2017-11-11 00:27] m4b commented on #58
@willglynn yea that's a good point.

However @sunfishcode 's option proposal I think somewhat sidesteps this issue.

It forces the user to pass a peek.  They either got the peek from somewhere or fabricated it.

In either case, the parse will error; it'll interpret the bad bytes as an elf binary and will still return a scroll BadMagic error when attempting to parse the elf header.

The problem of

[2017-11-11 00:29] willglynn commented on #58
@m4b Sure. I just wanted to tamp down expectations – a `peek()` that finds a valid magic makes it highly likely that `parse()` will see the same thing. It just doesn't _guarantee_ anything, so `parse()`'s body and its API needs to accommodate that.

[2017-11-11 00:33] m4b commented on #58
@willglynn yea i probably overstated things when I say it's _guaranteed_ :laughing:

As a bonus I think I can also have my angry double `??` version using the option peek as well:

[code]

[2017-12-03 19:59] ignatenkobrain opened #63 "parse_self test assumes that crate is built in debug mode"
While when we are building crate / running tests, we use release mode in Fedora.

[2017-12-04 05:02] #63 closed

[2017-12-04 05:02] m4b commented on #63
Thanks for this issue @ignatenkobrain above commit should fix, lemme know if you experience any other issues, and thanks again for the bug reports!

[2017-12-04 05:09] willglynn commented on #47
People also run tests in release mode (#63), which does not currently have CI coverage.

[2017-12-04 05:21] m4b commented on #47
Yea... I'm also worried about `core` issues; its really hard to tell when its broken by accidentally including a dependency.

E.g., I believe fd44bbd works as normal with core (minus the annoying warnings I can't figure out) but its hard to test...

[2017-12-04 16:14] ignatenkobrain opened #64 "some tests are failing on BE machines (ppc64 / s390x)"
[code]

[2017-12-10 19:52] m4b commented on #64
Mach-o has binaries on an s390x machine? I'm 99% sure that can't be the case.

PPC64 is possible, but that would have been circa the G4 et. al. era iirc; do you really have tests running on a PPC64 machine running osx ?

Could you print with the full backtrace here?

[2017-12-24 23:45] m4b opened #66 "make mach symbol iterator resultless"
Similar to ELF's symbol iterator, we have a result on invocation, and elements are resultness, because we know the size beforehand.

[2017-12-24 23:47] m4b opened #67 "ELF: add relocation iterators"
similar to symbol, add relocation iterators, for maximum laziness. This will give immediate perf results for clients reading large binaries, but not needing the relocations

[2018-01-01 01:16] m4b opened #68 "Switch all iterables and vectors lazy transducer"
This will essentially make the entire crate zero-allocation, lazy, and parallelizable.

1. [ ] ELF needs section relocs to be lazy
2. [ ] Mach can replace almost everything with lazy versions
3. [ ] PE can probably replace all vectors (i.e., ordinal lists, etc.) with lazy versions

See [lazy_transducer documentation](https://docs.rs/lazy_transducer) for information if anyone wants to tackle this.

[2018-01-01 13:43] ignatenkobrain commented on #64
@m4b note that I'm always running linux. let me retry running those tests directly on those machines, not in buildsystem.

[2018-01-01 13:50] ignatenkobrain commented on #64
# s390x

[code]

# ppc64

[code]

[2018-01-14 13:47] vext01 opened #70 "Interface to `dl_iterate_phdr`?"
I've recently embedded C into a Rust project that needed the `dl_iterate_phdr()` interface.

From the OpenBSD manual:
[code]

The interface is somewhat portable, but there are slightly different semantics across platforms.

I would have written my interfacing code in Rust, but decided against it due to the need to define (and keep in sync) the required ELF structs.

Since goblin is fundamentally c

[2018-01-14 14:55] fitzgen commented on #70
Fwiw, I wrote https://github.com/fitzgen/findshlibs a while back, which exposes the same API for mach-o files.

It is unfortunate that dl_iterate_phdr just gives phdr and not a edhrs too...

[2018-01-14 14:59] fitzgen commented on #70
(same API for iterating loaded libraries across both osx and other nixes, that is. It is built on top of dl_iterate_phdr on non osx, if that wasn't clear)

[2018-01-14 18:53] m4b commented on #70
@vext01 Thanks for the issue!

Could you clarify what some of your usecases are?  Specifically, one thing I'm wondering is if you want goblin exposing an unmangled `dl_iterate_phdr` symbol and to use it as a stand-in/at the ABI level for a library exposing that functionality?

If so, I'm pretty sure you could fairly easily write the implementation using goblin at a fairly high level, and then comp

[2018-01-14 21:11] m4b commented on #64
I don't quite know yet, but I'm pretty sure this logic is broken for detecting endianness, since the two architectures with the failing tests are both big-endian:

https://github.com//m4b/goblin/blob/ec64dcdea6dcddd378943749f68899fb34ac8cff/src/mach/header.rs#L325-L342

I've pushed some changes to add debugging to print the header, parsing ctx, and the lc's with their indexes; my guess is the size

[2018-01-14 21:40] ignatenkobrain commented on #64
[code]

[2018-01-15 06:50] m4b commented on #64
I think this should work now with latest 4839b29

The mach-o big-endian parser was totally broken :(

[2018-01-15 07:46] ignatenkobrain commented on #64
Well, now another one ...

[code]

[2018-01-15 18:47] ignatenkobrain commented on #64
Yay!

Now everything seems to work ;)

Thanks a lot!

[2018-01-15 18:48] #64 closed

[2018-01-15 18:55] m4b commented on #64
No, thank you for the great bug reports as usual!

[2018-01-16 06:48] m4b commented on #32
Meh; this is basically done; can implement as needed, where needed, e.g., like in #64

[2018-01-16 06:48] #32 closed

[2018-01-17 14:31] RazrFalcon opened #72 "rlib support"
What about `rlib` support used by Rust itself. It's mostly an `ar` afiak and the `ar` crate supports Linux variant of it (no support for macOS version for some reason).

[2018-01-17 18:01] m4b commented on #72
Hi @razrfalcon !

What support in particular did you have in mind ?

Goblin can already parse rlibs and print the symbols and who contains them.

For an example try running [bingrep](https://GitHub.com/m4b/bingrep) on an rlib (I even added an extractor flag, `—extract`, for pulling out the bytes of a member in an rlib)

Let me know if you have any issues or you had something else in mind !

[2018-01-17 18:41] RazrFalcon commented on #72
I doesn't tried `goblin` directly. I used `object` crate. Maybe it's not complete.

Currently, I interested only in symbols list.

[2018-01-17 18:57] m4b commented on #72
Ah yea, object doesn’t support archives at the moment. Not sure if it’s planned. /cc @philipc would know better if that’s in scope for that crate.

On goblin side, Goblin provides a convenience method for this: https://github.com/m4b/goblin/blob/master/src/archive/mod.rs#L441

If you want to call this yourself, just call `goblin::Object::parse`, match on the Artifact enum variant, and then call th

[2018-01-18 02:53] philipc commented on #72
I'm happy to merge a PR to add rlib support in the `object` crate if it makes sense. I don't know how well the `Object` trait fits with rlibs, so far I've been more focused on executables.

It may be better to instead iterate over the archive members and use `object` for each member. You'll need this for archives without an index (do rlibs normally have an index?).

[2018-01-19 11:58] RazrFalcon commented on #72
Everything works fine. Thanks.

[2018-01-19 11:58] #72 closed

[2018-01-19 18:27] m4b commented on #72
@philipc Yea rlibs always have an index but they don’t necessarily have to have a symbol index iirc. I’d check goblin source or the wiki page on archiver or the man page on a nix system to be sure.

The other thing is they don’t have to contain executables can contain anything technically (just a blob of bytes), but for most cases I guess you could assume they’re a homogenous container of a list o

[2018-01-24 14:25] codido opened #73 "mach: Some loaded dylibs type aren't handled by parse()"
load_command::CommandVariant::LoadWeakDylib isn't handled, which may result in a panic when retrieving imports.

[2018-01-24 18:06] m4b commented on #73
Hi @codido! Thanks for the report.

So if the parser ever panics, it’s a serious bug. Can you provide backtrace and perhaps either name of file you tried to parse (eg like a lib in /use/lib or something)

Thanks !

[2018-01-24 22:59] codido commented on #73
Thanks for the prompt response, @m4b!
To reproduce this, you can simply build a file with libSystem set as a weak library:
[code]
Running examples/dyldinfo on the resulting test would result in:
[code]

Simply handling LoadWeakDylib similar to other dylib type in parse() seems to resolve this. There might be other missing types, not sure.

Thanks!

[2018-01-24 23:05] codido opened #74 "mach: Segment::from_{32,64} may panic when segment data is invalid"
Both functions do not verify that fileoff and fileoff+filesize are within bytes range, which may result in a panic for invalid files.

[2018-01-25 04:57] m4b commented on #74
Yea... the mach o parser needs to be fuzzed. It’ll pop up a lot of random corner cases I’m sure.

[2018-01-26 08:40] philipc opened #75 "Add 'alloc' feature"
For https://github.com/gimli-rs/object/issues/45, we need to be able to parse all the formats when using `#[no_std]`. Currently, a lot of the parsing requires allocation. Completely avoiding allocations is too much work for now, and probably not a good use of time. And anyway, we can still use the `alloc` crate with `no_std` (but this does require building with nightly currently).

So I propose we

[2018-01-28 20:28] m4b commented on #75
I realized I started typing up bunch of stuff, but seems like you've done most of this, just wanted clarification on some things hehe.

Sorry for the delay;

So for `endian_fd` - after a while, the approach I took for the "unified", scroll-based, endian-aware structs was to place the definitions under the `std` flag, as they are useful to non-parser downstream usages, e.g., hattps://github.com/m4b

[2018-01-28 20:40] m4b commented on #73
@codido Sorry for the delay; yes this was a simple oversight :/

Should be fixed now, but I haven't tested just yet, will probably be able to confirm in a couple hours, or if you see its fixed, feel free to close

[2018-01-28 21:03] #74 closed

[2018-01-28 21:08] codido commented on #73
@m4b Thanks for the fix!
Unable to test it right now, but IIRC that's the fix I used locally.

That being said, shouldn't all *Dylib be handled similarly?

[2018-01-28 21:24] m4b commented on #73
@codido

I think they're all handled now except prebound dylibs, which can be fixed via:

[code]

Except I don't know if this is correct.

I believe prebound dylibs are added by statically linking the lib, in which case the imports cannot reference this dylib, since they've been statically linked, and hence not needed by the dynamic linker.

I need to do some research, unless you know offhand what

[2018-01-28 22:16] willglynn commented on #73
I don't know much, but I can say that `dyld` doesn't handle `LC_PREBOUND_DYLIB` in any way, and that none of the [`dyld` test cases](https://github.com/opensource-apple/dyld/tree/master/unit-tests/test-cases) (which cover the vast majority of Mach-O features) seem to produce binaries containing it.

[2018-01-28 23:37] m4b commented on #73
Ok then I don’t think we need to add it to imports vector; otherwise will likely cause off by one errors for imports in a binary with prebound.

Thanks @willglynn for the info!

[2018-01-29 03:07] philipc commented on #75
Ok that makes sense. Do you count the scroll traits as part of the parser?

I'm not sure about that. I think it should be possible to enable parsing for only the bits you need.

So I think the hierarchy should be:
1. `core`
2. `core` + `alloc`
3. `std`

The `parser` flag and the file formats flags should be orthogonal to that, but it's fine if they have a minimum required level (eg parsers will re

[2018-01-29 03:09] philipc commented on #75
The work I've done so far is just to verify that I can do parsing in the object crate without depending on std, but the changes I've done for that are just hacks to get it to compile. So if the above kind of sounds like the right way to go, then I'll clean it up to look like that, then can review further.

[2018-01-29 14:23] codido commented on #73
Looks like prebinding is an obsolete mechanism (from ld(1)):
[code]

I guess only old binaries will include this command.

By the way, while the patch above will fix valid binaries, goblin would still panic for invalid ones (e.g. with out of bounds ordinals or segment indices), no?

[2018-01-29 15:13] willglynn commented on #73
Ahh, this takes me back. And yes, everything about this is obsoleted by the `dyld` shared cache, 10.5 (2007) and forward. Best reference is old-and-broken `binutils` where it actually [does the prebinding](https://github.com/kwhat/binutils-apple/blob/master/misc/redo_prebinding.c#L2597-L2724), and in particular the function which [updates the load commands](https://github.com/kwhat/binutils-apple/

[2018-02-01 05:31] tathanhdinh opened #76 "Parsing PE with empty export data directory"
Some well-formed PE may have its export data directory with an empty table of `NumberOfFunctions` (as well as `NumberOfNames`,  `AddressOfFunctions`, etc.), for example the `Export Data Directory` of `apisetschema.dll` (a dll for [API redirection](https://blog.quarkslab.com/runtime-dll-name-resolution-apisetschema-part-i.html) from Windows 7) on my machine `Windows7.SP1`:

![apisetschema](https://

[2018-02-01 06:13] m4b commented on #76
Hey @tathanhdinh thanks for opening the issue!

Yea, confirmed; actually this is a problem for a whole lot of other standard windows binaries.

If you think your patch will work, and can add a test case, I'll definitely merge it!

@willglynn what do you think?

I've noticed the goblin parser also reports stuff like `storage.dll` has a magic of 0, which seems weird, as hexdumping the binary seems t

[2018-02-01 15:36] willglynn commented on #76
@m4b I know enough about PE to be dangerous, but not enough to have an opinion here.

[2018-02-02 02:22] tathanhdinh commented on #76
@m4b thanks for your feedback.
Sure, I will prepare a test case.

[2018-02-07 05:31] #75 closed

[2018-02-09 16:00] luser commented on #73
If you're really motivated you can download old software update packages from Apple manually. Here's the download for the 10.3.7 Combined Update, for example:
https://support.apple.com/kb/DL543?viewlocale=en_US&locale=en_US

It's sort of a pain to unpack their update files (they're a bunch of nested archives in really obscure formats) but I have scripts that can do it. Most of the useful bits are

[2018-02-09 16:09] willglynn commented on #73
@luser Prebinding is a thing that happens on the end user's machine, much like `prelink` on Linux. Prebinding doesn't happen until the binaries are extracted onto the user's <= 10.3 machine, after which point Mac installers would do this:

![](https://user-images.githubusercontent.com/118362/36036963-f340f964-0d80-11e8-9759-470ec7356037.jpg)

The "optimized" binaries are specific to the user's mac

[2018-02-09 16:11] luser commented on #59
I've used `failure` in a few projects now and it's pretty great. It feels similar to `error-chain` but with a bit less magic. You could probably start using it now without changing much--just add `#[derive(Fail)]` to your `Error` enum as a start, and then you ought to be able to remove the `std::error::Error` impl, and the `From` impls. You might want to switch `scroll` over first so that you get

[2018-02-09 16:38] luser opened #79 "Expose PDB70 signature as a UUID?"
I wrote some code to read the PDB70 info out of a PE using goblin, to implement the equivalent of `symstore.exe`. I found that [`CodeviewPDB70DebugInfo::signature`](https://github.com/m4b/goblin/blob/a293c5041437367d564e2e7f7c06b63ff1b4a76b/src/pe/debug.rs#L75) wasn't really that useful as raw bytes, since it's intended to be a `GUID` in little-endian byte order. I wound up pulling in `byteorder`

[2018-02-09 16:40] luser commented on #79
Oh, I forgot to mention, but we have a little C++ utility in the Firefox codebase that does this exact thing, and it just memmaps the PE file and casts structs around willy-nilly, but it does use `GUID` direct from the Windows SDK headers:
https://dxr.mozilla.org/mozilla-central/rev/35dfa0882568c06f2d81b6749179815cd4f82886/testing/tools/fileid/win_fileid.cpp#12

[2018-02-09 16:46] codido commented on #73
FWIW, it seems one of the samples in https://objective-see.com/malware.html (OpinionSpy (Premier Opinion)) contains a prebound load command in the ppc's mach-o of JavaApplicationStub.

Just don't run it :)

[2018-02-09 18:36] fitzgen commented on #59
I think we wouldn't want to use `failure::Error` in this crate, but instead `#[derive(Failure)]` on a custom error enum.

[2018-02-09 18:37] fitzgen commented on #59
Would love to get PRs to move to failure, btw.

[2018-02-09 19:51] luser commented on #59
Yeah, that's what I was suggesting, just deriving `Fail` on the existing `Error` enum. That should immediately give you some niceties like auto-conversion from other error types, as well as easy error message formatting. (That being said, I'm not sure what the practical benefits of using your own error type vs. `failure::Error` are, really. Just the ability to pattern-match specific errors, I gues

[2018-02-10 03:01] m4b commented on #59
So with the new `alloc` feature I think just adding derive annotation will work as expected and won't cause any problems in `no_std` environments, would you agree @philipc ?

[2018-02-10 03:31] philipc commented on #59
Yes, my understanding is that `failure::Error` can't be used with `no_std`, but derive is fine.

This was only in addr2line afaik, and that usage has been removed. Adding failure support to gimli would be good though.

[2018-02-12 18:52] fitzgen opened #80 "Support the WebAssembly object format"
@m4b is this something you would be interested in having in `goblin`?

[2018-02-14 20:08] m4b commented on #80
@fitzgen Yes, possibly.

What specifically did you have in mind?

So first some clarification, when you say "object format", are you are referring to the web assembly linkable object format?

If so, I wasn't aware its exact on-disk format was stabilized (or even approved into the wasm standard?)

If you mean the regular wasm format, I originally considered adding support, and I suppose could integ

[2018-02-14 20:11] m4b commented on #79
I'm not opposed to adding this really, but I do sort of have an unstated policy in goblin to keep the deps as low as possible.  However, I am definitely a fan of strong typing, and since `uuid` crate is almost now apart of "std" rust, I suppose it's ok.

I think mach-o also has some uuid's in load commands, so might be a good idea to add it there too?

@willglynn what do you think?

Does anyone kn

[2018-02-14 20:13] m4b commented on #79
@luser if you do a PR it'll probably get merged, just need to make sure the no_std works correctly. @philipc is now the expert on this ;)

[2018-02-14 20:14] m4b commented on #66
This will be a breaking change but i think its important to match elf resultless iterators

[2018-02-14 20:31] willglynn commented on #79
@m4b I'm entirely on board :+1: `pdb` depends on `uuid`, and matching those PE UUIDs with corresponding PDB UUIDs is the point of that field. `uuid` everywhere makes that use case simpler.

Your memory is correct, Mach-O also has UUIDs:

[code]

We should update `LC_UUID` handling appropriately, with extra attention for BE binaries since I don't know how those work.

[2018-02-14 20:35] willglynn commented on #79
@m4b Oh yeah, I know `gnu ld` emits UUIDs in ELF note sections when `--build-id=uuid`. No idea how common those are in practice, but I once needed them in the past (hence #49).

[2018-02-15 00:09] luser commented on #79
Humorously, I already wrote some code in `object` to handle `LC_UUID`:
https://github.com/gimli-rs/object/blob/0fb54d82c755e317b96d4b0d57714028d05ad95c/src/macho.rs#L217

I'm not sure ELF Build IDs can be usefully be handled as UUIDs, the actual contents of the note field don't preserve the semantics--it's just bytes.

[2018-02-15 00:18] willglynn commented on #79
@luser: Good point. `--build-id=uuid` is a 128-bit UUID, while `--build-id=md5` is a 128-bit MD5, and I don't think those are distinguishable after the fact. Sounds like we can skip ELF UUIDs.

[2018-02-15 18:50] luser commented on #79
So I started implementing this, and got hung up a bit on the `LC_UUID` part because `UuidCommand` derives Pread et. al. so we can't use `uuid::Uuid` directly there. I fell down the rabbit hole and wrapped it in a newtype and manually implemented all the necessary traits, but I don't love it.

Here's the simple commit to use `uuid::Uuid` for `CodeviewPDB70DebugInfo::signature`: https://github.com/l

[2018-02-15 19:51] m4b commented on #79
Actually I’m not completely opposed to adding your UUID new type impl as a direct impl in scroll itself. Then all of your problems will disappear. We could then do: `bytes.pread::<Uuid>` which obviously looks cool, and also showcases the power of scroll ;)

Alternatively can remove the derive impl from UuidCommand and manually implement, but then uuid logic will be sort of duplicated.

UUID is no

[2018-02-15 20:26] willglynn commented on #79
Maybe we should ask if `uuid` would take a PR adding an optional dependency on `scroll`? That'd be consistent with how `uuid` presently interacts with `serde`, and it seems like it would avoid some degree of interdependency.

[2018-03-01 15:24] kpp opened #81 "Universal executable"
Hello.

Is it possible to generate such a file that can be correctly parsed both with PE and ELF readers? Even if the executable would do nothing like `int main() {}`.

[2018-03-01 15:28] willglynn commented on #81
Maybe with some executable formats, but not any combination of PE, ELF, or Mach-O. They all require the file to start with different magic numbers.

[2018-03-01 15:37] kpp commented on #81
Ah. Thank you for your rapid response.

[2018-03-01 15:37] #81 closed

[2018-03-18 17:49] mitsuhiko commented on #79
For what it's worth we (sentry) go by the logic in breakpad for now and we effectively has this build note with the same hashing algorithm that breakpad uses to come up with something that looks more or less like a uuid (it's not actually forced to have a valid version though so it's effectively random bytes). However for debug purposes that uuid is not good for windows where you also need the nam

[2018-03-30 13:43] fitzgen commented on #80
Basically, wasm defines another binary format for libraries and executables, and if goblin is trying to exhaustively support binary formats that are widely in use today (or likely to be widely in use soon), then I think it is worth considering supporting wasm. Maybe by re-exporting or wrapping parity-wasm's parser.

Didn't really think any further than that.

No, just the normal wasm binary encodi

[2018-03-30 21:54] le-jzr commented on #80
I don't think that would even be feasible. While wasm is a sort of "special", there are plenty of other executable binary formats widely in use. Java bytecode, CLR, plenty of other bytecode formats. Any one of which would present a formidable task to support and maintain.

I think wasm in particular needs a special-purpose tool, and trying to mangle it onto any sort of generic API would be a point

[2018-05-26 12:35] xcoldhandsx opened #90 "Core dump notes parsing error"
Hello,
I ran into a problem, while parsing notes in core dump of my test program.  The error occurs from bad alignment. My alignment is equal to 0.
[code]
But readelf works perfectly fine and parses core dump correctly. I looked into source code of readelf and found this:
[code]
As I see, match should be like this:
[code]

[2018-05-27 02:36] philipc commented on #90
You're right that there's a problem there. I looked into the readelf behaviour a bit more.

binutils readelf behaviour:
- treat alignments of `0 ... 4` as 4, accept alignment of 8, reject everything else
- always use 32 bit note header, except for IA64 on OpenVMS

(This means readelf can use a 64 bit alignment with a 32 bit note header.)

[llvm-readobj behaviour](https://github.com/llvm-mirror/llv

[2018-05-27 08:47] m4b commented on #90
@philipc recommendation seems good to me! Most important is to get it parsing.

Just curious, @xcoldhandsx what is the precise error you get, and can you also paste the readelf/objdump of the core file ? Thanks !

[2018-05-27 10:16] xcoldhandsx commented on #90
I've just created the pull request with some fix for solving this problem including @philipc recommendations.  I also  attach the output of readelf (_readelf -l ../core_)
[code]

[2018-05-28 00:55] philipc commented on #90
Fixed by #91

[2018-05-28 00:55] #90 closed

[2018-06-10 19:36] #76 closed

[2018-07-13 23:14] sunfishcode opened #92 "Nlist's str_x field has host-sensitive size"
In `goblin::mach::symbols::Nlist`, the `str_x` field has type `usize`. Since this represents an external format, it should have a host-independent type.

For comparison, LLVM's corresponding data structure uses `u32` for this field: https://github.com/llvm-mirror/llvm/blob/4604874612fa292ab4c49f96aedefdf8be1ff27e/include/llvm/BinaryFormat/MachO.h#L964

[2018-07-13 23:36] philipc commented on #92
`Nlist` is not an external format. `Nlist32` and `Nlist64` represent the external format. While both `Nlist32` and `Nlist64` use `u32` for `str_x`, I think `usize` was chosen for `Nlist` because within goblin `str_x` is used as a slice offset, and `usize` is an appropriate type for that.

[2018-07-13 23:40] sunfishcode commented on #92
Ah, I see. Thanks!

[2018-07-13 23:40] #92 closed

[2018-07-13 23:41] willglynn commented on #92
@philipc I was just writing something similar :-)

@sunfishcode Note also: LLVM's `nlist_base` omits `value`, whereas `goblin::mach::symbols::Nlist` provides it as a `u64`. `Nlist` is for convenience, not 1:1 correspondence with bits on disk. making Representing `value` as a `u64` is convenient; representing `n_strx` and `n_sect` as `usize` is similarly convenient.

[2018-07-17 00:48] gz opened #94 "Could not find `btree_map` in `alloc`"
Hmm ok filing an issue since I don't quite understand the interaction here...
If I compile goblin 8bbbcf5 directly with `cargo +nightly build --no-default-features --features alloc` it works fine.

If I try to compile the object crate with the goblin dependency declared as follows:
[code]
Using `cargo +nightly build --no-default-features` or `cargo +nightly build -v --no-default-features --feature

[2018-07-17 01:16] philipc commented on #94
You need to enable more features when building goblin to trigger the error, since there's individual features for the various file formats too, ie you need the `archive` feature in particular for this error. See the `nightly_api` target in the top level Makefile for a convenient way to test all the feature combinations.

[2018-07-17 04:12] m4b opened #96 "master build is failing from env_logger dev dep"
Env_logger in examples/rdr.rs fails to build with cargo test, because it pulls in a bunch of deps, and apparently one of those can't compile with rustc 1.18 anymore.

I like that we're capable of compiling with 1.18; so I propose we nuke env_logger from build deps and examples/rdr.rs.

On the other hand, I think we'll want to upgrade at some point to get goodies like impl Trait in case we start re

[2018-07-17 04:19] #94 closed

[2018-07-17 04:20] m4b commented on #96
Fixed in #95

[2018-07-17 04:20] #96 closed

[2018-07-17 04:43] m4b commented on #94
@gz 0.0.17 should be available for your no-std pleasure; i'm not sure if object has to update its goblin dep explicitly (probably). Please raise another issue if you encounter any other errors! Thanks for your help here :)

[2018-07-17 04:44] m4b opened #97 "version 1.0 tracking issue checklist"
We're still seeing minor breakage, which is good, especially the usize stuff.

I'd like to start a checklist of things to do before 1.0.

I'll add them here as we add things.

[2018-08-06 18:46] roblabla opened #99 "Pe SectionTable::name should parse MinGW-style names"
If a section has a name longer than 8 (for instance, all the .debug sections), MinGW will give that section the name "/4", where "/" indicates the "real" section name can be found in the string table, and 4 indicates the offset in the string table.

Goblin should find about this, and return the correct name.

Question: this requires whoever will be responsible for this to know about the string tab

[2018-09-04 00:16] #99 closed

[2018-09-29 18:38] m4b commented on #73
Ok, I think this was sufficiently resolved? Closing, please re-open if I've misunderstood

[2018-09-29 18:38] #73 closed

[2018-09-29 18:39] m4b commented on #11
I dunno what this issue is even about anymore, heh

[2018-09-29 18:39] #11 closed

[2018-09-29 18:41] m4b commented on #9
Ok, so closing this, since I think the zero-copy/endianness story has been sufficiently set in stone for goblin at least, and is discussed elsewhere, so this (the oldest issue in goblin!) can be closed :) please reopen if i've misunderstood

[2018-09-29 18:41] #9 closed

[2018-09-29 18:41] m4b commented on #15
Closing; it's close enough ;)

[2018-09-29 18:41] #15 closed

[2018-09-29 18:42] m4b commented on #68
EWONTDO

[2018-09-29 18:42] #68 closed

[2018-09-29 18:43] m4b commented on #21
I think parts of this are implemented; not as interesting, so closing

[2018-09-29 18:43] #21 closed

[2018-09-29 18:44] m4b commented on #70
I believe this is out of scope/and or answered by my post above, please re-open if i've misunderstood :)

[2018-09-29 18:44] #70 closed

[2018-09-29 18:46] m4b commented on #58
I think my last suggestion is actually a good idea, or dan's; I think pre-release 1.0 one of them should be chosen.

[2018-09-29 18:47] m4b commented on #37
I'd like to see more fuzzing before 1.0 release; in particular the mach-o and PE backends have been somewhat neglected :)

[2018-09-29 18:49] m4b commented on #59
Ok I think we should get the error story figured out. I'm leaning towards sticking with current error system, not pulling on another dep, as it's compatible with downstream users using failure.

[2018-09-29 18:52] m4b commented on #79
So:

1. I would prefer if UUID crate would take on scroll as optional dependency
2. We can then read out uuid's as a type properly using scroll

We can probably punt on this decision and avoid backwards incompatible issues by exposing a raw bytes api for any uuid-ish element, and then we can add proper uuid type in the future (without breaking anyone depending on the raw bytes for whatever reason)

[2018-09-29 18:53] m4b commented on #79
So, does anyone want to take the first step and see if uuid crate would be willing to have a scroll impl via  a PR? Should be simple w.r.t. implementation

[2018-09-29 18:55] m4b commented on #80
So I am leaning towards not adding wasm binary backends to goblin (with reasoning similar to @le-jzr 's objcopy "test" :) ) ; though adding it in the future is certainly plausible if there's enough demand.  However, given that there are several other crates which haven already implemented the lion's share of features for wasm object parsing, it may not be the best use of time resources.

[2018-09-29 18:56] m4b commented on #97
I want to make a 0.1.0 release with various things ironed out, tested, etc., then I think we can start getting ready for 1.0 :)

[2018-09-29 19:02] m4b opened #104 "Rust 2018 edition compliance"
Cargo fix + editing + other things.

At the moment, this will have to work on a feature branch, since the edition isn't released; also, it should occur **after** most of the issues in 0.1.0 are done, since it will likely cause lots of merge conflicts if done in parallel.

[2018-09-30 17:52] m4b opened #105 "Mach: Fvmlib is packed and implements Pwrite"
[code]

I guess simplest solution is to remove Pwrite impl (luckily it's a deprecated struct, so likely won't ever be needed by any writer); nevertheless, need to figure out what to do here, though it probably belongs in scroll...

[2018-09-30 18:58] #67 closed

[2018-10-01 05:49] philipc commented on #105
Why does it need to be packed instead of repr(C)? The definition in LLVM is a plain C struct.

[2018-10-01 10:55] luser commented on #9
Yeah, I think what you're doing is fine.

[2018-10-01 13:12] diorcety opened #106 "Can't open some ELF files (numpy binaries for examples)"
[code]

[2018-10-02 06:48] philipc commented on #106
This is because the [bias calculation](https://github.com/m4b/goblin/blob/3dfb49944ab4d4a9915e3716cb55bb810c8674d1/src/elf/mod.rs#L225) only uses the first `PT_LOAD` segment, but for this binary the dynamic strtab is in a later segment with a different bias:

[code]

I haven't read the code enough to know if we can fix this easily. Probably we need to find the corresponding segment for each indivi

[2018-10-04 13:13] vext01 commented on #70
In the end I wrote my own little library for interfacing with `dl_iterate_phdr`:
https://github.com/softdevteam/phdrs

Thanks.

[2018-10-09 03:46] m4b opened #108 "Elf: NoteIterator has an infinite loop"
When parsing the multiarray.so binary mentioned in #106, the NoteIterator appears to infinitely loop if we do something like:

[code]

[2018-10-14 19:38] m4b opened #110 "Fuzz: Round 2"
I want to fuzz goblin's parser again, this time with:

1. elf seeds using what we have now + seeds based on bsd elf binaries, etc.
2. mach-o seeds
3. PE seeds.
4. object file seeds

4 is new but it's also very important. My guess is mach-o and PE will have the most issues, as they haven't been fuzzed at all yet.

I would love for someone to help set this up, and even just file issues as the errors

[2018-10-14 21:37] philipc commented on #108
I think it's better to make it hard to misuse an API (eg to cause an infinite loop), than to rely on clients to invoke it correctly. So fixing this in goblin would be great.

We probably should audit all iterators. I changed the code in the object crate to handle all potential infinite loops, without checking if goblin already handled those correctly.

Also, just as information (I'm not necessaril

[2018-10-14 21:42] m4b commented on #108
Auditing sounds good to me; will have to evaluate pros and cons of switching as you mention. I’d also like to fix goblin parse return to be more ergonomic.

But yea agreed we should fix if can. Not super pressing atm tho I think, but def before 1.0 :)

[2018-10-21 17:18] endeav0r opened #111 "goblin 0.0.18 fails to parse dynsyms"
I am parsing a simple binary (I have uploaded the binary here: http://reversing.io/goblin/loop-0 ).

I recently updated to goblin 0.0.18, and noticed some symbols were not being parsed. `Elf.dynsyms.len()` returns a length of zero. I ran the binary through `bingrep`, and dynsyms were parsed fine, but then noticed I was on `bingrep` `0.5.0`. I upgraded `bingrep` to the latest version, and now I get

[2018-10-21 17:28] endeav0r commented on #111
`gnu_hash_len` from @philipc's push here: https://github.com/m4b/goblin/commit/f682b1850ec6179c53402f58cbad8eea5acabe6d is returning `0` for this binary.

[2018-10-21 21:51] philipc commented on #111
That binary has no defined dynamic symbols, and 7 undefined symbols.

The hash table min_chain value is 1, which means that the defined dynamic symbols start at 1. That is, after the placeholder symbol at index 0. We could potentially change `gnu_hash_len` to return `1` instead of `0` in this case, but that's not going to gain you anything IMO. I should double check that the logic in `gnu_hash_len

[2018-10-21 22:23] m4b commented on #111
I'm confused; the binary appears to have several imported symbols, which the dynamic linker would have to resolve; not finding the symbols (or returning 0, when there are 7) in this case seems like a regression, yes?

[2018-10-21 22:28] philipc commented on #111
Yes, it's a regression, but the question is, how do you determine how many imported symbols there are? As you know, the binary does not include a length for the dynamic symbol table. AFAIK the dynamic linker accesses the imported symbols via the index in relocations, so if we want to find them then we need to do the same.

[2018-10-23 07:09] #111 closed

[2018-10-24 02:59] m4b commented on #111
@endeav0r ok new version 0.0.19 published, sorry about that :/ please let us know if you see anything else, hopefully this is resolved :)

[2018-10-31 03:19] endeav0r commented on #111
Thanks guys :) I'll give `0.0.19` a run here in the next few days.

[2018-11-01 13:03] Marwes opened #113 "goblin failed to parse magic number"
Seeing this error when running https://github.com/RazrFalcon/cargo-bloat on a project that uses https://github.com/oschwald/maxminddb-rus which seems to generate a .so in addition to the normal static library https://github.com/oschwald/maxminddb-rust/blob/ff8ff2106a867f05d3526b2e9d0f729082ce5745/Cargo.toml#L17.

Just guessing that the .so contains something goblin can't handle (yet) but it might

[2018-11-02 04:39] philipc commented on #113
It's an error in cargo-bloat. It's trying to treat the .so as an archive.

[2018-11-02 07:48] Marwes commented on #113
Aha, seems I guess wrong then. Sorry for the bother. Opened an issue in cargo-bloat instead!

[2018-11-02 07:48] #113 closed

[2018-12-09 17:16] Pzixel opened #115 "Need more examples"
Hello guys.

I tried to use your library and it's api looks amazing. However, I don't see how to extract anything but very basic info.

I'm currently stuck getting CLI headers from PE executable file. I'm using [ECMA335](https://www.ecma-international.org/publications/files/ECMA-ST/ECMA-335.pdf), section `II.25.2.3.3 PE header data directories`. I want to read `CLI Header` data so I'm writing foll

[2018-12-09 17:56] Pzixel commented on #115
I ended up with copy-pasting `utils` module to make it work: https://github.com/Pzixel/dotnet-rs/commit/d74b7d71d2f66907f820fb40d7d8b1c4ee3e2040

Seems completely broken to me. What is the intended way to perform such an operation?

[2018-12-09 18:08] m4b commented on #115
Hi thanks for the issue! So reading the linked dotnet-rs, your issue is that you need the `find_offset` from the `utils` mod? Seems that the mod is not pub, but the functions are otherwise pub; probably no one thought to export them before.

Otherwise, once you've mapped the rva into an offset, since you already have the bytes, that should get you on your way to accessing the raw data you want to

[2018-12-09 19:07] m4b commented on #115
Yea got it, you just need utils pub right ? Should be easy enough; if you want to make a PR that would be great. While we’re at it, could also add some example using pe::utils

[2018-12-09 20:44] Pzixel commented on #115
Hmm, last change 2 months ago... Okay, I'm gonna create a PR :)

[2018-12-12 07:04] #115 closed

[2019-01-11 04:43] sanxiyn commented on #110
I feel like trying [Angora](https://github.com/AngoraFuzzer/Angora), a fuzzer with very promising algorithms (also written in Rust!), and isn't our friend goblin a trusty good target?! Stay tuned!

The insight of AFL/LibFuzzer is that a little smart (coverage guiding) combined with speed beats full smart, symbolic approaches like KLEE. Angora shows it can be combined with a little more smart (tain

[2019-01-11 04:45] m4b commented on #110
Super excited to see what you uncover here :) The mach-o and and PE backends could use some fuzz-love too :)

[2019-02-05 03:31] Techno-coder opened #117 "Section relocations are not parsed even if they exist"
Linkers can be forced to generate relocations even if the format is not designed to have section relocations (such as the `--emit-relocs` flag for `ld.lld`). Goblin only parses the section relocations if the file type is `ET_REL` which means the `shdr_relocs` field is empty. I think it would be better to parse section relocations if they exist rather than relying on the file type.

For example, I'

[2019-02-05 03:58] m4b commented on #117
@techno-coder thanks for the issue and yes, that sounds reasonable!

I can’t remember why it was this way; might have been a premature optimization, might have been for what seemed like a good reason before, or perhaps not at all? Not sure.

I don’t think it would be hard to add, but need to make sure it doesn’t break stuff. I increasingly wish we had more unit tests or a “parser run” with expecte

[2019-02-05 04:10] philipc commented on #117
Sounds like a correct and relatively safe change to me.

[2019-02-08 06:58] Techno-coder commented on #117
No code within goblin accesses the `shdr_relocs` field other than the construction of it: [Github search query](https://github.com/m4b/goblin/search?q=shdr_relocs&unscoped_q=shdr_relocs), so surely this code change would not be able to affect any of goblin's parsed data structures other than that particular field?

Hardly any public repositories on Github uses the `shdr_relocs` field: [Github sear

[2019-02-08 16:13] m4b commented on #117
To be clear the public fields type hasn’t changed (ie it’s a backwards compatible fix, yes)?
Also wow thanks for doing the manual reverse deps lookups, that’s quite nice of you!

[2019-02-09 01:51] #117 closed

[2019-03-05 23:21] Shnatsel commented on #110
In the meanwhile I've done a pass with plain old AFL. I've targeted the elf parser since it contains a suspicious amount of unsafe code. I've also thrown in some FreeBSD binaries as seeds. Here's the generated corpus that can be used for subsequent fuzzing: [min-elf-corpus.zip](https://github.com/m4b/goblin/files/2933543/min-elf-corpus.zip)

Fuzzing harness targets ELF decoding specifically, this

[2019-03-05 23:33] Shnatsel opened #120 "Crash on malformed ELF file"
Attempting to decode any of the attached files with `goblin::elf::Elf::parse` crashes the process. Memory allocator runs out of virtual memory and the process is aborted.

[goblin-elf-oom-crashes.zip](https://github.com/m4b/goblin/files/2933592/goblin-elf-oom-crashes.zip)

Found via AFL.rs. Fuzzing harness: https://github.com/Shnatsel/goblin/blob/master/fuzz-afl/src/main.rs

[2019-03-06 02:28] m4b commented on #120
Many parts of the parser rely on the binary giving lengths to various variable length entities; I guess the best we can do here is to clamp the maximum size to the size of the binary?

[2019-03-06 11:47] Shnatsel commented on #120
Sounds like a great idea!

Alternatively you could let the API user set the limits, which is what the decompression libraries do. But if you know the size up front, it's probably best to just use that.

[2019-03-06 16:10] m4b commented on #120
@shnatsel do you want to make a PR :)

[2019-03-06 18:49] Shnatsel commented on #120
It would be interesting, but I'm afraid I'll have to decline. I already have two ongoing Rust projects that have higher priority, and one of them isn't even announced yet.

[2019-03-07 06:27] philipc commented on #120
In general, how does goblin want to handle errors: parse as much as it can, or return an error immediately when something is obviously wrong? For example, if the size of a section is larger than the size of the file, should it still try to parse whatever it can in that section? Or should it skip that section but keep trying to parse other sections? Or should it immediately return an error?

I can

[2019-03-07 06:30] m4b commented on #120
These are all good questions, and I'm not sure what the best answer is; I think we've tried to be as robust as possible in the past, but it starts getting into a grey area; overall however, I've found it almost always better for the parser to just keep going even when stuff is kind of broken, as opposed to just returning immediately and stopping all parsing, since that forces you to dive into a he

[2019-03-07 06:46] philipc commented on #120
For my purposes, I think what I want is for goblin to provide lower level APIs that parse one thing, and return an error if that fails. It's then up to me to decide whether I want to continue trying to parse other things. goblin doesn't currently provide that sort of lower level API though. It tries to parse everything into a struct `Elf`, and for that API I agree that's it's better to try to keep

[2019-03-07 08:32] philipc commented on #120
Fixed what I could in #121. There's probably more similar problems. Not something I'm going to work on right now though.

[2019-03-07 08:34] philipc commented on #120
Representative test cases for the problems I fixed:
[code]

[2019-03-12 02:51] theflakes opened #123 "VS_VERSION_INFO"
I apologize if I'm blind and not finding this. But, are VS_VERSION_INFO fields accessible in Goblin?

thanks

[2019-03-12 03:26] m4b commented on #123
Hello, could you elaborate ? I’ve never heard of it so probably not ? Is this a PE binary thing or something else ?

[2019-03-12 03:34] theflakes commented on #123
Sorry, should have explained better. VS_VERSION_INFO is for PEs. Its useful for forensic analysis if fields are populated and why I'm interested in it.

https://www.conedogers.com/2012/08/06/retrieving-windows-vs_versioninfo-struct-from-a-binary/
https://stackoverflow.com/questions/14184207/is-vs-version-info-a-resourcedirectory-resourceentry-and-does-it-have-a-name-or

[2019-03-12 03:48] willglynn commented on #123
`VS_VERSION_INFO` is stored as a resource, which is a type of auxiliary data PEs can contain. (Icons are the other common use of resources, though there are more.) `goblin` can provide the RVA of the resource table via `goblin::pe::PE` -> `header` -> `optional_headers` -> `data_directories` -> `get_resource_table()`, but it doesn't currently parse the resource table itself or any `VS_VERSION_INFO`

[2019-03-12 20:31] theflakes commented on #123
Cool, thanks for the insight. I'll see what I can do with that when I get some time.

[2019-03-22 18:04] lzutao opened #126 "How do I get raw data from `rodata` section of an ELF share object?"
Sorry if this issue bothers the author. I have asked this question on Rust discord channel and
still I couldn't find the answer. Could the author tell me what can I do to get raw data
from an section of an ELF share object?

[2019-03-22 23:27] philipc commented on #126
If you only need a high level interface, consider using the [object](https://crates.io/crates/object) crate. Otherwise, it contains examples of how to do what you want:
- [get the section given the name](https://github.com/gimli-rs/object/blob/318842144e72aec72680e750a0764bb084c93171/src/elf.rs#L106-L122)
- [get the data given the section](https://github.com/gimli-rs/object/blob/318842144e72aec726

[2019-03-23 13:59] lzutao opened #127 "Implement Debug trait for RelocIterator?"
https://github.com/m4b/goblin/blob/9693b818faeb171f54c519bb03b5602e4536f5a8/src/elf/reloc.rs#L464-L470

Then downstream crates like `object` could implement Debug trait for their wrapper
type and help users debug easier.

[2019-03-23 14:00] lzutao commented on #126
Thanks @philipc . I'd give object crate a try.

[2019-03-23 14:00] #126 closed

[2019-03-24 09:27] lzutao opened #130 "Increase rustc supported version?"
Ubuntu OS already supports at least [rustc 1.30](https://packages.ubuntu.com/search?suite=all&section=all&arch=any&keywords=rustc&searchon=names).
Increase rustc supported version help cleaning up deprecated codes.

[2019-03-25 02:20] #127 closed

[2019-03-25 07:08] philipc commented on #24
All the ones in elf are fixed (thanks @lzutao!), but still some in mach.

[2019-03-25 08:31] leo-lb opened #133 "archive: memory allocation of 16378232832 bytes failed"
Hello,

I don't really have time now to debug this but I'd still like to share the test file.
It's being parsed as an archive.

The application exits after printing `memory allocation of 16378232832 bytes failed`.

File: https://github.com/leo-lb/random-files/blob/master/jvm.lib

Thanks.

[2019-03-25 08:49] lzutao commented on #130
I see this #104. So It would be the same thing to me.

[2019-03-25 15:26] m4b commented on #130
Yes if we bump minimum I think we should go for minimum rust 2018 edition compiler ? Or a semi recent one that one would find on Ubuntu, fedora, etc. can’t remember what rustc fedora ships at the moment

[2019-03-26 02:02] #24 closed

[2019-03-28 07:45] lzutao commented on #130
Closed in favor of #104.

[2019-03-28 07:45] #130 closed

[2019-03-30 04:04] lzutao opened #137 "Fix clippy lints"
<details>
	<summary>Clippy output based on m4b/goblin#135 by running `cargo +nightly clippy`</summary>

[code]
</details>

[2019-03-30 07:49] lzutao opened #138 "Create git tags or github releases tags for older version"
This would be not hard but it will require write access to the repository.

[2019-04-02 15:05] lzutao opened #147 "Is elf::gnu_hash::hash signature correct?"
I personally think that `symbol` should be `&[u8]`.
Look [at the code in glibc](https://code.woboq.org/userspace/glibc/elf/dl-lookup.c.html#552), it's just a C-string with no UTF-8 encoding requirements.

https://github.com/m4b/goblin/blob/e6f784eedd8499b44c05cde856fb38d14b5b0c84/src/elf/gnu_hash.rs#L26-L34

Also the implementation is not correct, 33 not 32.

I'm working on this issue right now. J

[2019-04-04 02:27] #137 closed

[2019-04-04 02:52] lzutao opened #149 "casting from `*const u32` to a more-strictly-aligned pointer (`*const u64`)"
This is the last error from clippy:
[code]

I don't know enough about implementation details of GNU Hash to know that this cast is safe or not. So I leave it to you (@m4b , @philipc ).

There are two things we could do:
- If this is safe to cast, we ignore the error with clippy attribute.
- If this is unsafe, how do we fix or recover from this cast?

[2019-04-06 05:18] lzutao commented on #149
Ping @philipc : Do you have any ideas to about this?

[2019-04-06 05:30] philipc commented on #149
It's only safe if the provided `hashtab` pointer has the correct alignment. This will be up to the caller to ensure by loading the .gnu_hash section into memory with the correct alignment. I guess we could make this explicit by changing the function signature to require `hashtab: *const $size`. That still makes it hard to write the function internals in a way that avoids the clippy warning though.

[2019-04-06 05:33] #147 closed

[2019-04-21 03:38] philipc commented on #104
Fixed by #134

[2019-04-21 03:38] #104 closed

[2019-04-23 15:47] lzutao opened #156 "Nightly doc for goblin"
cc @m4b @philipc
I think about deploying nightly doc (whenever commits pushed to master branch)
of goblin to github pages. The reason is that we could see which changes happened
visually after applying a documentation improvement PR.

[2019-04-23 15:58] m4b commented on #156
Yes I like this idea :) how hard would it be to setup ?

[2019-04-23 16:02] lzutao commented on #156
Easily. I'll send a PR for this.

[2019-05-16 17:13] williballenthin opened #160 "reexport lib name may be truncated"
Reviewing the exports of `kernel32.dll`, it looks like the `lib` field of reexports may be truncated by one character:

![image](https://user-images.githubusercontent.com/156560/57873432-77979500-77cb-11e9-91dd-cc98a63c5cef.png)

I believe the expected value should be `NTDLL`:

![image](https://user-images.githubusercontent.com/156560/57873465-91d17300-77cb-11e9-9a13-1d1cbd2fcfdd.png)

[2019-05-16 23:58] m4b commented on #160
What does the library name say ? I recall in the past thinking it was wrong but it actually matches the real dll name other libs use to link against

[2019-05-17 01:35] philipc commented on #160
@m4b Look at the second image, the actual string is "NTDLL.RtlAcquireSRWLockExclusive". All that the parsing code should be doing is splitting at the ".", it shouldn't be dropping the last letter of "NTDLL" too. So looks like a clear bug to me.

[2019-05-17 04:54] m4b commented on #160
Where is the string coming from ? Is it from another program ? I distinctly remember a library name which I thought was incorrect in an msvc library before but I could be misremembering.

Regardless, I still haven’t gotten answer to my original question: what is the dll name?

[2019-05-17 05:08] m4b commented on #160
Sorry I’m not in front of s computer. Otherwise I’d try to check myself. Please show the full debug output of goblin on the binary; it should list which dlls it links against/requires. That’s the name I’m asking for.

[2019-05-17 05:09] m4b commented on #160
If we are dropping a character I’m sure it’s a regression and we should git bisect ?

[2019-05-17 05:15] williballenthin commented on #160
here is the log output from goblin at level `Debug`. let me know if you need `Trace`. [goblin.log](https://github.com/m4b/goblin/files/3189963/goblin.log)

[2019-05-17 05:52] m4b commented on #160
Yup this is definitely fucked :(
[code]
I'm surprised it took this long to get this bug report :(

[2019-05-17 05:54] m4b commented on #160
Yea this is probably my least favorite code in goblin: https://github.com//m4b/goblin/blob/779d0ce835bb325327f39157ea8fdb8882daa171/src/pe/export.rs#L159

and i'm to blame cause I wrote it fast and under duress :sweat_smile:

[2019-05-17 06:20] m4b commented on #160
I can't bisect this; at least not far enough, at some point goblin was using git scroll in toml, and it breaks the build sadly. Regardless I think I'm wrong and it's always been broken :scream_cat: I thought it might have been introduced in the rustfmt refactor, which I explicitly noted in review i didn't really know what was going on, but yea, i think its just always not worked.

[2019-05-17 16:44] williballenthin opened #161 "how to interpret `pe::import::Import` fields?"
Would you please describe the meaning of the fields exposed by `pe::import::Import`?

  - `dll`: name of imported DLL
  - `name`: name of imported function (or empty if import by ordinal only?)
  - `ordinal`: ordinal of imported function
  - `offset`: I don't know. file offset to something?
  - `rva`: I don't know. RVA of something?
  - `size`: I don't know.

What I would like to do is map the sym

[2019-05-18 15:01] jjunqueira commented on #133
This is happening to me as well, it unfortunately causes an abort panic and crashes my program. I can't figure out a way to catch the error and keep processing. I wonder if its the same issue from here [https://github.com/m4b/goblin/issues/120](url) but it is happening to me on PE files.

[2019-05-18 17:32] m4b commented on #133
@leo-lb thanks for the file; so on current master i get:
[code]
when i run:
[code]

`nm` can parse it though without failing so we should do better.

@jjunqueira the issue you linked seems to be a deadlink, but you are also getting OOM errors?

[2019-05-19 07:56] lzutao opened #162 "Build error on i686 targets"
[code]

[2019-05-19 08:39] philipc commented on #162
Thanks for the report. See #163 for fix.

[2019-05-19 16:56] #162 closed

[2019-05-20 12:02] jjunqueira commented on #133
@m4b Oops sorry https://github.com/m4b/goblin/issues/120

I am using 0.0.22 so maybe I should use master?

The part in issue 120 that I think is applying here is "Memory allocator runs out of virtual memory and the process is aborted.".  I am gathering pe file information from large batches of binaries and when I hit this error my whole process is aborted. In my case I would prefer it return an er

[2019-05-20 15:08] m4b commented on #133
Yes we should never oom or panic, user error should always be returned. This is a bug for sure.

[2019-05-20 15:09] m4b commented on #133
Can you upload the offending PE or is it sensitive ? Would like to poke at it and see what’s wrong.

[2019-05-20 15:18] m4b commented on #161
@willglynn if you have some cycles perhaps you could field this question ?

[2019-05-22 21:24] jjunqueira commented on #133
@m4b Sorry got sidetracked on a few things and haven't made it back to this yet. I'll ask to see if I can share the sample. I also haven't gotten around to trying it on the master branch yet. I am hoping to get to it in the morning.

[2019-05-23 12:16] jjunqueira commented on #133
@m4b @leo-lb So I feel kinda dumb now but I just saw this in the README "Goblin requires rustc 1.31.1." and of course my version is:

▶ rustc --version
rustc 1.34.1 (fc50f328b 2019-04-24)

Then I was thinking that a major pretty recent change was moving away from jemalloc as the default allocator and I am having an abort on memory allocation. So I switched my project to include jemalloc and BOOM p

[2019-05-23 12:23] philipc commented on #133
@jjunqueira "Goblin requires rustc 1.31.1." means 1.31.1 or newer. It definitely should work with 1.34.1, and we'd prefer to track down the problem rather than having you work around it by using jemalloc. So it'd still be great if you can give us a way to reproduce your error.

[2019-05-23 12:46] jjunqueira commented on #133
@philipc @m4b My company does large scale processing of malware so the binary could very well be malware. I can send an encrypted zip file to you directly so its not uploaded here where others could stumble upon it. It may be benign but I just want to be careful. Just let me know what your preferred method is for me to send it to you.

Also for reference it works as expected on my OSX laptop and i

[2019-05-25 17:29] xiongmao86 commented on #54
@m4b, do you mean changing the unified SectionHeader's sh_name from u32 to string?
In that case, if I convert ElfSectionHeader to SectionHeader the origin u32 is lost, and how can I change back SectionHeader to ElfSectionHeader?

[2019-05-25 19:10] m4b commented on #54
No I believe we were talking about the mach-o segname/sectname, which are byte arrays of 16. Was suggesting just changing the debug print to unwrap or on them using a pread so it was printed better.

[2019-05-26 05:39] xiongmao86 commented on #54
Sorry, @m4b, I don't have a Mac available. So perhaps I should probably withdraw. Thank you for your reply.

[2019-05-26 06:52] m4b commented on #54
@xiongmao86 It's ok! I don't think you'd strictly need a mac to close this issue, primarily a matter of fixing byte arrays being printed when debug `{:?}` is used, but appears also I was wrong, that `segname` is already stringified, so i'm not sure what this issue is about so much anymore :)

https://github.com//m4b/goblin/blob/779d0ce835bb325327f39157ea8fdb8882daa171/src/mach/segment.rs#L126

[2019-05-26 14:01] xiongmao86 commented on #54
@m4b, would it be Elf binary perhaps? The name part of section header is an u32, a index of string table. It's possible to look it up and store the result string into a field, but in that way the string couldn't convert back.

https://github.com/m4b/goblin/blob/eb7e5f449d35aea0eb77a3c6d418c6c8888094b1/src/elf/section_header.rs#L381

[2019-05-27 12:41] diorcety commented on #106
Is there any news about this issue?

[2019-05-27 19:59] m4b commented on #54
No we want that; it's just for anything that has a byte array/slice, and we have a `Debug` derive, and/or the byte array is debug printed; @mitsuhiko maybe the issue can be closed, haven't checked in a while?

[2019-05-27 20:02] m4b commented on #106
Pretty sure @philipc fixed this; running repro from above on master has no issue; going to close, I'll publish a new version

[2019-05-27 20:02] m4b commented on #106
Please reopen if you find similar issue :)

[2019-05-27 20:02] #106 closed

[2019-05-27 21:12] #156 closed

[2019-05-27 21:13] m4b commented on #156
Dumb question: how do we see the docs now? :D

[2019-05-27 21:36] m4b commented on #156
Nevermind, figured it out; they're right here: http://www.m4b.io/goblin/goblin/index.html

great work @lzutao !

[2019-05-29 05:31] xiongmao86 commented on #54
Ok, thanks for replying.

[2019-06-02 09:44] cyberpunkbln opened #167 "I need a little help for a simple file extract :)"
Hello,

i want only to try to extract an ico file or other binary files from an exe-file like 7zip, that can extract files from the .rsrc dir.

Great will be ifi receive an Buffer that i can furtheruse with the crate image readBuffer-Functions.

thx

ps: knows anybody if any wrapper exist for this library with standard operations like extracting ans so on?

[2019-06-03 16:01] williballenthin commented on #161
based on inspection of some sample .dll files using a hex editor, I gather that:

  - `rva` is the RVA of the name of the symbol, e.g. `RtlAcquireSRWLockExclusive`
  - `addr` is the RVA of the pointer to the RVA of the name (`rva` above)

Is there an exposed way to get the thunk entry of the imported function?

[2019-06-03 21:38] williballenthin commented on #161
i've ended up implementing the import table parsing myself.

[2019-06-03 21:38] #161 closed

[2019-06-24 20:23] elast0ny opened #171 "Missing import (IAT) information for Windows PE"
In the struct
[code]
The field `import_address_table` does not point to the IAT but instead points to the Import Name Table.

[2019-06-24 20:50] elast0ny commented on #171
The `import_directory_entry.import_address_table_rva` points to the correct offset of the first entry in the IAT but it somehow doesnt make it to the computer `import_address_table`.

Will dig into the code to see why this is hapenning

[2019-07-05 19:15] raindev opened #173 "Parsing of static Windows library archives fails"
I've got some Windows static libraries (`.lib` archives) that goblin fails to parse. One file is a toy example consisting of two "hello world" object files[1], another one is BoringSSL crypto module[2]. Both are built on Windows 10 using Visual Studio toolchain[3]. The error is `type is too big (4) for 3`.

Debugging revealed that the problem is caused by invalid symbol lookup table size read here

[2019-07-05 23:45] m4b commented on #173
Wow, thanks for the great write up ! Very interesting stuff :)

If you’ve got an idea for an implementation and some time, go for it! Looking forward to it :)

[2019-07-13 04:29] #173 closed

[2019-07-13 07:44] raindev commented on #133
@philipc this issue is fixed by e3c5d58 as well but I messed up the commit message so it wasn't closed automatically.

[2019-07-13 08:04] philipc commented on #133
Fixed by #174.

@jjunqueira I'm not sure if #174 also fixed the bug you found, but please open a new issue if it didn't.

[2019-07-13 08:04] #133 closed

[2019-07-30 06:50] XVilka opened #176 "error: cannot find macro `log!` in this scope with Rust 1.38 (Nightly)"
[code]

[2019-07-30 07:01] philipc commented on #176
Works for me. Perhaps you need to run `cargo update` to update the log dependency.

[2019-07-30 07:24] XVilka commented on #176
Yep, it works after `cargo clean; cargo update`. Sorry for the noise.

[2019-07-30 07:24] #176 closed

[2019-08-09 05:22] #160 closed

[2019-08-09 18:52] jjunqueira opened #178 "kernel32.dll import name"
Hi,

I am working on a import hash implementation using your library based on https://github.com/erocarrera/pefile/blob/master/pefile.py#L4217

So far everything has worked pretty well but I have a small percentage of binaries in which the import hash is differing. I have tracked down the issue to kernel32 findstringordinal function being named differently in the goblin Import.name field.

Goblin

[2019-08-09 19:23] jjunqueira commented on #178
NVM, I did something stupid somewhere else :)

[2019-08-09 19:23] #178 closed

[2019-08-12 00:31] wyxloading opened #179 "PE parse fail with invalid exception directory table size"
`bad input invalid exception directory table size (17920)`

I get this error while reading a dll downloaded from microsoft symbol server. `advapi32.dll` (attach below).
There are more dlls report the same error (with different table size).
I don't know it should consider as a bug or something. Does anyone know about this?

[advapi32.zip](https://github.com/m4b/goblin/files/3490604/advapi32.zip)

[2019-08-12 04:42] philipc commented on #179
It's a bug. It looks like this is a 32-bit file, whereas the `ExceptionData` handling can only handle x84-64 exception handling. I couldn't find any documentation on what the .pdata section contains for 32-bit, so I suggest fixing goblin so that it ignores .pdata if the machine isn't x86-64. This is what llvm-objdump does.

[2019-08-12 05:11] wyxloading commented on #179
Does this document help?

https://docs.microsoft.com/zh-cn/windows/win32/debug/pe-format#the-pdata-section

[2019-08-12 06:43] philipc commented on #179
I can't see anything about 32-bit x86 there. From inspecting the data, it looks like each entry is 8 bytes.

[2019-08-13 00:25] wyxloading commented on #179
Thanks @philipc. According to llvm coffdump, looks like .pdata section size do not need to be multiple of 12 (sizeof `RuntimeFunction`).
Should i fix this issue like llvm does?

https://github.com/llvm-mirror/llvm/blob/709ddb3442d536da89edd05c66133466a6509bb9/tools/llvm-objdump/COFFDump.cpp#L439-L467
https://github.com/llvm-mirror/llvm/blob/709ddb3442d536da89edd05c66133466a6509bb9/lib/Object/COFFO

[2019-08-13 00:42] philipc commented on #179
Yes fix it like llvm does. But to be be clear, llvm only tries to parse this section for AMD64, and we should do the same for now:
https://github.com/llvm-mirror/llvm/blob/709ddb3442d536da89edd05c66133466a6509bb9/tools/llvm-objdump/COFFDump.cpp#L591-L596
So no need to change the size check in goblin.

[2019-08-13 04:37] philipc commented on #179
Fixed in #180

[2019-08-13 04:37] #179 closed

[2019-08-13 15:41] m4b commented on #179
Thank you @wyxloading!

[2019-08-18 03:12] wyxloading opened #181 "PE: meet invalid name rva in ImportDirectoryEntry and panic"
I have met some nasty exe that have a invalid .idata section, which will panic.
Something like:
[code]
code: https://github.com/m4b/goblin/blob/master/src/pe/import.rs#L147-L148

In this moment i actually don't know why these exe have such .idata. I just want to parse the unwind info.
Now `pe::PE::parse` will parse the whole pefile.
I am wondering would it be nice to pass some options to enable/di

[2019-08-18 03:21] wyxloading commented on #181
I think this issue more like discussion https://github.com/m4b/goblin/issues/120#issuecomment-470402558. That's what i want.

[2019-08-19 07:48] philipc commented on #181
How sure are you that the `.idata` section is invalid? Can you provide the binary?

I think we shouldn't fail for this error though, so if you can fix it to at least keep going then that'd be great.

Partial parsing would be a larger change, and is not something I want to comment on at this time, but maybe others have thoughts on that.

[2019-08-20 00:15] wyxloading commented on #181
I looked into the .idata section, think it's not stick to what [pe format](https://docs.microsoft.com/en-us/windows/win32/debug/pe-format#import-directory-table) has wrote.
But llvm just skip all the import table entries if meet any entry without an valid rva.

Anyway, here the sample exe
[xy2.zip](https://github.com/m4b/goblin/files/3518129/xy2.zip)

[2019-10-04 15:11] m4b opened #185 "tests: binary data and us"
We need to have a story for binary data in goblin, as it’s becoming more and more urgent to have a full test suite we can run against for compliance and regression.

We don’t want to store binary data in git, since this adds to clone time and is generally frowned against.

There are a few binary files in goblin or what is effectively binary data with vecs with u8s, but these are grandfathered, and

[2019-10-04 15:43] m4b opened #186 "build: investigate long build time"
I’ve noticed that goblin has a very long compile time, relatively speaking.

I’ve meant to look into this before whether there is something we can do about it (and also how to look into it).

Maybe this is something the rustc might be interested in?  It doesn’t have a “lot” of lines of code, nor is it really very generic (aside from usage of scroll) so I’m wondering what’s the precise issue.

[2019-10-04 15:46] m4b commented on #167
Unfortunately I don’t have enough context here to help; extracting data should be straightforward since you must already have the byte buffer. For PE specific stuff I would suggest to read the PE spec or at the returned structs we provide which should be documented.

If they aren’t documented please file an issue, or bette yet file a jira. Going to close this now, thanks !

[2019-10-04 15:46] #167 closed

[2019-10-04 15:46] m4b commented on #171
Was this ever resolved ? Is it still an issue ?

[2019-10-04 15:50] m4b commented on #138
@lzutao would you still be interested in coordinating this ?

It’s some responsibility so feel free to say no of course :)

Or perhaps deeper explanation of what I have to do if you don’t want to ?

[2019-10-04 15:52] m4b commented on #123
Is this still an issue or can I close ?

[2019-10-04 15:53] theflakes commented on #123
I've not had any time to look at it, no worries about closing it and thanks.

[2019-10-04 15:56] m4b commented on #123
Ok let me know if you have any questions or want to contribute in any way :) I think @willglynn knows better and could provide a good solution for what to do in case you want this information.

[2019-10-04 15:56] #123 closed

[2019-10-04 15:57] willglynn commented on #185
Content addressability is a must-have IMO. Test fixtures need to stay constant. Instead of saying "I want `test_case_4.exe`", it's better to say "I want the file with hash `012abc`.", since that lets everyone be confident the test sees the same data unless/until that reference changes.

Proprietary bits are a problem, e.g. the Microsoft bits from the Microsoft symbol server in #183. In general I t

[2019-10-04 16:05] m4b commented on #185
This is an I interesting idea.

The tool could be a dev dependency and perhaps we have a feature flag enabling “regression suite”, it then downloads as a setup everything in manifest and then tests run on it.

This way it could be opt in only so burden isn’t put on others .

I also wonder if another approach could be for a separate repo to depend on goblin somehow and then this runs a test suite w

[2019-10-04 16:09] willglynn commented on #185
How about a `cargo` feature?

[code]

`--feature external_data` could be a separate line in the build matrix.

[2019-10-04 16:13] m4b commented on #185
Yea that was exactly what I was thinking.

Except probably it’s on a mod though and we put all manifest/external file based tests in there.

It might also be useful to collect in this issue a list of possible data sources we could use for binary files. I know there’s several floating around Github at least, but I don’t know the legality of them

[2019-10-04 17:31] jan-auer commented on #185
I think what we want is essentially a symbol server that hosts binaries and a small utility that pulls them in. Since symbol servers generally encode some sort of unique identifier into the lookup path, that would already solve the identification issue.

The only thing that's missing then is a small script that iterates through a list of URLs and mirrors them into a local cache directory. We could

[2019-10-04 17:48] willglynn commented on #185
@jan-auer I'm concerned about the legality of re-hosting e.g. Microsoft's binaries. It's fine for them to serve their files, but I don't see how anyone _except_ them can serve their files. That's why I think we need a tool that works with existing third-party servers instead of operating a new first-party server.

[2019-10-04 18:25] jan-auer commented on #185
@willglynn That's fine. For Microsoft files we can literally point the script / tests at their symbol server and download from there. I was suggesting a similar setup for all custom files that might be interesting for testing ELF, MachO, or anything that's not provided by Microsoft.

[2019-10-04 18:47] willglynn commented on #185
@jan-auer What do you see as the ideal interface to this kind of external data? Not just `goblin`, but the whole ecosystem here. You've been through more of it than I have 😄

[2019-10-05 17:31] RazrFalcon opened #187 "pe::CoffHeader::sections produces duplicated sections?"
I was looking through the sources and noticed that `pe::CoffHeader::sections` creates `nsections` with the same data:

https://github.com/m4b/goblin/blob/189216544ca63e97d9737120a37605c0fa4bfe56/src/pe/header.rs#L66-L76

This line always receives the same data, unless I'm mistaking.

https://github.com/m4b/goblin/blob/189216544ca63e97d9737120a37605c0fa4bfe56/src/pe/header.rs#L72

[2019-10-05 18:17] m4b commented on #187
Offset is a mutable reference. The section parser updates that offset when it parses a section out, which is why it parses different sections.

Yes it’s a little unclear unless you see the mutable reference :)

[2019-10-05 18:19] RazrFalcon commented on #187
I see, my bad.

[2019-10-05 18:19] #187 closed

[2019-10-11 13:53] ko1N commented on #79
It would also be really useful to have a conversion function which prints out guid/age for PE files in the default microsoft formatting. Something along those lines would work:

`let guidage = format!("{}{:X}", uuid.to_simple().to_string().to_uppercase(), age)`

[2019-10-14 17:40] elast0ny commented on #171
Hi, it appears that this is still an issue unless im computing these values wrong...

Here's an example program, it's output and a screenshot of the values parsed by Ghidra :
[code]

<img width="428" alt="GhidraExampleSTDOUT" src="https://user-images.githubusercontent.com/19346608/66771400-2b3ea700-ee88-11e9-9746-055b7ed1f9ac.PNG">

<img width="579" alt="GhidraExampleIAT" src="https://user-images.

[2019-10-14 18:32] elast0ny commented on #171
It looks likes the offset is calculated differently in two locations :
(offset here points to the address I expected)
https://github.com/m4b/goblin/blob/cfa098a528409847c568216e04f764b792f8425a/src/pe/import.rs#L228-L231

and :
(The values in `import_address_table` don't match the offset value above)
https://github.com/m4b/goblin/blob/cfa098a528409847c568216e04f764b792f8425a/src/pe/import.rs#L167-

[2019-10-15 16:20] m4b commented on #171
Can anyone help out elast0ny or clarify is this a bug we need to fix? @jan-auer, @willglynn @philipc maybe?

[2019-10-26 00:40] alexozer opened #189 "Panic on parsing archive"
Parsing [this archive file](https://github.com/m4b/goblin/files/3774253/os.zip) seems to cause a panic:

[code]

Source:

[code]

`ar` seems to extract this archive just fine as well.

[2019-10-26 01:51] m4b commented on #189
Is the ar from macos by any chance ? I’ve seen panics on darwin/ bsd archives.

@alexozer would you like to to take up this issue? :)

[2019-10-26 03:18] alexozer commented on #189
I actually don't know for sure which OS this was built on. It's quite old though (built sometime in 2001). However, the filenames seem to end in "/" so I think it's probably a Unix archive.

[2019-11-03 09:36] nox opened #190 "Consider releasing 0.1.0"
Given that not all new releases include breaking changes, it would be nice to be able to use this crate with a version number that can support non-breaking bumps. Given `0.0.x` is compatible with anything than itself, that can't be done unless this is switched to `0.x.y`.

[2019-11-03 18:34] m4b commented on #190
Yes that seems reasonable, next version will be 0.1.0; unfortunately in process of upgrading scroll, seems that 0.10 is broken w.r.t. re-exporting derive macros, i'm not sure how it's possible :(

[2019-11-03 19:40] #190 closed

[2019-11-03 19:56] m4b commented on #190
scroll 0.10.0 was broken; fixed (and yanked); published goblin `0.1.0` :)

[2019-11-03 20:25] m4b commented on #189
We can be less strict about parsing here; i have a minor patch, that "succeeds" in parsing the archive, though the resulting archive has 0 symbols in all its members, so i don't think we're either parsing right, or we should just fail with first bad offset?:

[code]

note the huge amount of warnings about missing symbols.

I also noticed:

[code]
doesn't agree with our offsets; so maybe we're doin

[2019-11-04 06:54] philipc commented on #189
The symbol index in the archive is malformed according to nm:
[code]

Looks ok to me? Which offset is different?

[2019-11-04 17:34] andrewshadura commented on #190
Thanks! I just wanted to make sure you know about these issues:
1) The dotnet example doesn’t work in the published crate because of the dll asset missing (not sure if it is *actually* missing or is that the Debian tooling mangling it)
2) Somehow during the Debian build the parse_self test cannot find the "self" and fails.

[2019-11-04 17:35] andrewshadura commented on #190
Btw, I know it probably would sound a bit pedantic for you, but could you publish the source for the dll asset?

[2019-11-04 17:35] andrewshadura commented on #190
(I’m just thinking I can probably replace that asset with any .net binary from a random Debian mono package.)

[2019-11-06 05:01] m4b commented on #189
ah whoops i was reading the output of bingrep size as the offset, yes it's probably fine if it can the member names.

[2019-11-16 08:23] kentfredric commented on #185
As a linux vendor packager, I'm somewhat fond of the "handle these binary assets in a seperate crate" idea, just i know you'll have to exercise some kind of discipline so that `goblin` and the test data in this other crate either a) don't diverge too far or b) are impervious to problems caused by version mixing.

Just try avoid anything that tries to `auto-fetch` stuff inside the test/build phases

[2019-11-22 13:08] jayvdb opened #194 "Unrecognised COFF object format when using cl.exe /GL"
A bit of the history at https://github.com/gimli-rs/object/issues/154 and motivation at https://github.com/indygreg/PyOxidizer/pull/183

The default Python extension C flags on Windows with `cl.exe` includes `/GL`.

When that is used, the .obj format is very strange.  Omit it, and the usual .obj format is used and `goblin` and `object` process it wonderfully.

As I can hack the code involved, omit

[2019-11-22 16:41] m4b commented on #194
So iiuc we just need to add the magic number to our magic numbers ? Or is something else involved ?

[2019-11-23 00:23] philipc commented on #194
No, this is the equivalent of clang's `-flto`, which causes the compiler to output bitcode instead of an object file. So it's a different file format (maybe it contains an embedded COFF file though). I'm not aware of any documentation on it, and based on that `/GL` link it is likely to depend on the compiler version. So in my opinion this is likely to be out of scope for this crate.

[2019-11-23 01:44] jayvdb commented on #194
Given no other tool supports this format, it is reasonable that goblin doesnt either.
What would be a good solution is to detect this format based on what little info we can find via docs or a bit of experimentation, and emitting an error that describes the probable cause and how to avoid it, or support it as a container format where the innards are not penetrable (yet).

fwiw, I tried parsing the

[2019-11-26 18:18] m4b commented on #194
@jayvdb sure if you want to submit a PR making error messaging better or somehow returning more info feel free! If no I’m going to close this issue though since I don’t think there is much else we can do.

Let me know !

[2019-11-27 01:37] jayvdb commented on #194
I think making error messaging better is something I can do, so I would like to try it.

[2019-12-22 15:47] xcoldhandsx opened #199 "Some problems with parsing core dumps"
Hello!
I decided to continue my experiments with parsing core dumps. And the first thing I've done: I updated the goblin. Unfortunately, the current version returns a error, when i tried to parse some core dumps: **parse object: Scroll(TooBig { size: 1905784752, len: 258048 })**.  I was debugging a little  trying to locate a problem.
![Screenshot at 2019-12-22 16:57:59](https://user-images.githubu

[2019-12-22 18:32] xcoldhandsx commented on #199
As I discovered, the problem is because of  **There are no sections in this file**. Here in
https://github.com/m4b/goblin/blob/master/src/elf/section_header.rs:438  strange things are happening.

[code]
In my case **offset** and **count** are equal to zero. Why do we need  this code?
[code]
Maybe if **count** is equal to zero we want return an empty vector? Also, I think some checks for offset is

[2019-12-22 19:16] m4b commented on #199
Darn looks like a regression :( can you paste the core file somewhere ?

[2019-12-22 19:30] xcoldhandsx commented on #199
Sure, here it is inside zip archive.
[core-bug.zip](https://github.com/m4b/goblin/files/3992915/core-bug.zip)

[2019-12-22 20:44] philipc commented on #199
Definitely need checks for `offset != 0` before reading `empty_sh`. That `empty_sh` stuff is to handle large numbers of sections that overflow the `u16` field, in which case the number of sections is stored in the first section header. But if `offset == 0` then there isn't even a first section header.

[2019-12-23 18:20] #199 closed

[2020-01-06 07:55] #149 closed

[2020-01-07 06:51] philipc opened #205 "mach relocation parsing doesn't handle big endian"
The relocation fields are bitfields, which makes the ordering all weird. Currently we only use the little endian ordering, but that won't work for big endian files.

LLVM has code to handle this difference, see [here](https://github.com/llvm-mirror/llvm/blob/2c4ca6832fa6b306ee6a7010bfb80a3f2596f824/lib/Object/MachOObjectFile.cpp#L141-L170).

Also related, we don't currently parse scattered relocat

[2020-01-07 06:52] philipc commented on #205
Also, I haven't checked yet, but there may be other mach-o definitions that use bitfields, and thus need the same sort of fix.

[2020-01-07 16:22] m4b commented on #205
Yea I didn’t bother with scattered because I believe they’re only for G4’s and other PowerPCs during the transition. I’ve never found a binary in the wild, though it would be cool :)

[2020-01-08 08:45] philipc commented on #205
It looks like LLVM uses scattered relocations for x86 and ARM (but not x86-64 and ARM64).

[2020-02-16 04:33] parasyte opened #212 "Build failure when specifying elf32 feature without elf64"
Disable default-features and specify only `elf32`:

[code]

Build fails:

[code]

[2020-02-20 17:23] m4b commented on #212
Hmm looks like a build regression. Probably something got messed up in refactor. We have a makefile that should invoke some of these matrix combinations.

Should be simple fix. I might have some time this weekend to look into it, or perhaps you could ? :)

[2020-03-18 13:42] luser commented on #185
I'd like to throw in the obligatory mention of [test-assembler](http://luser.github.io/rust-project-docs/test-assembler/test_assembler/) which is designed exactly for this use case. I originally wrote it as a port of the C++ implementation that Jim Blandy wrote for Breakpad so he could write a test suite for its DWARF parsing code.

I used it in my minidump crate to write [a bunch of test helper t

[2020-03-31 17:19] dbartussek opened #213 "Is an elf file with DT_GNU_HASH buckets_num == 0 legal?"
My lld on Linux produces some elf files that Goblin complains about being invalid.

If bucket_len is zero, Goblin currently returns an error stating that DT_GNU_HASH is invalid. However, patching this to return 0 results in the binary loading just fine.

I can't find any documentation if DT_GNU_HASH intends for bucket_len to be zero. Is this an issue in lld or Goblin?

[2020-04-01 15:43] vext01 opened #214 "Reading the ELF of the current executable without copying it into memory a second time."
Hi,

This is more of a question that a bug.

I have a somewhat unusual use-case. I want to inspect the symbol table of the currently running executable.

The goblin example does this:
[code]

which I think loads the entire binary into memory. In the case of the binary being the same as the one currently running, that means we load most of the stuff in a second time.

Is there a more efficient way?

[2020-04-02 06:22] m4b commented on #214
Well you don't have to fs::read; `goblin::Object::parse` takes a `&[u8]`; so e.g., if you're on linux you could probably memmap the binary in `/proc/` or whatever, and it might share the page? Would need testing. What is your usecase exactly? Probably reading it twice is of minor importance for most people.

If you need access to specific segments of an already mem-mapped binary, there are also un

[2020-04-02 06:41] m4b commented on #213
I don't know, that's a good question! I don't know offhand what it means to emit a buck len of zero.

According to: https://blogs.oracle.com/solaris/gnu-hash-elf-sections-v2

That might not have anything to do with the bucket len though?

We can evaluate a patch parsing binaries with bucket_len == 0, maybe @lzutao has some opinions on this, since they did some work on it?

[2020-04-02 06:47] m4b commented on #214
E.g., you could use this to zero-copy read the symbols if you can get a pointer to the symbol table + it's len: https://github.com//m4b/goblin/blob/d215c61565bd31859bdb9e395302f49af03aab99/src/elf/sym.rs#L239

[2020-04-02 12:59] vext01 commented on #214
That's doable as long as I can make the `.symtab` section loadable. By default it isn't. I think I'd have to use `objcopy` to generate a modified binary.

That's what I was hoping.

My use case is pretty niche. We are writing a tracing just-in-time compiler for Rust programs and need to find the addresses of functions at runtime so that we can emit call instructions to them.

[2020-04-02 13:15] vext01 commented on #214
I could just use dwarf...

[2020-04-02 13:45] lzutao commented on #213
The conditions were added by @philipc in https://github.com/m4b/goblin/commit/a901f08e23150cb20e9c627eb5d513161429de79

[2020-04-03 01:24] philipc commented on #213
While we don't do it in this code, the bucket_len is normally used as a divisor ([such as here](https://github.com/m4b/goblin/blob/d215c61565bd31859bdb9e395302f49af03aab99/src/elf/gnu_hash.rs#L156)). So normally it will be non-zero and I don't know what it means for it to be 0. If lld is using this to signify an empty DT_GNU_HASH then I think it's fine for goblin's `gnu_hash_len` to return 0 inste

[2020-04-03 01:33] philipc commented on #214
You would still need to load the file somehow if you're using dwarf.

Probably, and I don't see any better options.

[2020-04-03 04:20] m4b commented on #213
That seems like a bug if they're signifying an empty `DT_GNU_HASH` via a zero buckets_num; they should just not emit the `DT_GNU_HASH` structure at all in that case; on the other hand one could argue it's like `&[]`? :man_shrugging:

[2020-04-17 20:43] leo60228 opened #215 "Safety invariants for GnuHash::from_raw_table should be documented"
I can't tell what I need to do to use this safely. https://docs.rs/goblin/0.2.1/goblin/elf64/gnu_hash/struct.GnuHash.html

[2020-04-18 01:13] philipc commented on #215
I'm not sure if this function even needs to be `unsafe` anymore. Ideally it wouldn't be. There is some discussion at https://github.com/m4b/goblin/pull/151#discussion_r362302668. The point of that discussion was that we need to either keep it `unsafe` or add checks for the safety conditions, and it seems we did both. Someone should audit it though.

[2020-05-05 12:57] csarn commented on #214
On linux, you could read /proc/self/maps to get the addresses where your binary is already mapped and unsafe-cast those addresses to [u8] arrays of the length of the map. On Windows, there should also be a way to get a processes' memory map.

[2020-05-05 22:06] jackcmay commented on #120
@philipc Ran into a similar issue with section headers and `Vec::with_capacity` while fuzzing it myself.  Took a stab at fixing it here: https://github.com/m4b/goblin/pull/219

[2020-05-06 00:05] philipc commented on #120
Looks reasonable to me, but I'll let @m4b review. Really need to audit every `Vec::with_capacity` instead of relying on fuzzing though.

[2020-06-11 13:45] Timmmm opened #226 "Archive should allow accessing members by index"
Currently you can only access archive members by name, but actually Ar archives can have duplicate names. To do things properly it should be possible to get the number of members, and access a file by index.

[2020-06-11 14:22] Timmmm commented on #226
I think this should be pretty trivial to fix - just requires exposing [`member_array`](https://github.com/m4b/goblin/blob/master/src/archive/mod.rs#L406) by a couple of functions. I'll see if I can send a pull request.

[2020-06-14 01:30] #226 closed

[2020-06-29 13:22] calixteman opened #228 "Don't return an error when some section are not correct"
I have a debug file (IBM935.so.debug) which contains some incorrect info in dynamic section and so the section failed to be parsed with error `Invalid PT_DYNAMIC size (offset 0x14db0, filesz 0x1f0)` (offset & section come from the .so file and in this file they're correct).
The problem is that I don't care at all about this section and I'd be fine to have `dynamic: None` in my Elf object.
So would

[2020-06-29 14:27] calixteman commented on #228
A possibility is to have an Option<Result> for dynamic field and so let people handle errors like they want.
Wdyt ?

[2020-06-30 04:45] m4b commented on #228
what is the `.debug` file? is it additional dwarf debug information? Who produced it? Just wondering why the PT_DYNAMIC is incorrect; that's usually pretty bad. We could potentially make these changes but it would be a breaking change. Would like more information about what's going on (maybe the `.debug` file is just bad, e.g., and we shouldn't support it); can other tools parse this file, e.g., `

[2020-06-30 07:55] calixteman commented on #228
[IBM935.so.zip](https://github.com/m4b/goblin/files/4850057/IBM935.so.zip)

The debug file comes from Fedora's glibc.

[2020-06-30 08:07] gabrielesvelto commented on #228
The files are taken from [this debuginfo package](https://dl.fedoraproject.org/pub/fedora/linux/releases/32/Everything/x86_64/debug/tree/Packages/g/glibc-debuginfo-2.31-2.fc32.x86_64.rpm). One thing worth noting is that this file and other two from Fedora's glibc package exhibit this behavior and always did so in previous releases too, going back at least to Fedora 30. So it's not some kind of bug

[2020-07-02 00:20] iptq opened #229 "Lazy/streaming interface for Archive?"
Looks like the Archive requires the entirety of the archive to be loaded into memory. With Read + Seek, would it be possible to change this to be lazy-loaded, only reading the members and then reading the contents of each member as they're requested? I'm working with .a files that may be relatively big so this would be a great help. Also I'd be interested in helping implement this.

[2020-07-02 16:12] iptq commented on #229
Or i suppose use https://github.com/mdsteele/rust-ar if the purpose is similar

[2020-07-28 01:03] blinsay opened #231 "missing arch names on OSX"
I've been playing around with Goblin on OSX and noticed that the arch names for my multi-arch binaries aren't being output correctly. `file` seems to get it correct, so I don't think there's anything strange going on with my system.

Thanks for a cool project, let me know if I can provide anything else that's helpful.

[code]

[code]

[2020-07-28 01:18] blinsay commented on #231
Expanded the repro a bit to scan for binaries where the arch name is `None` and it seems like it's always the `cputype=0x01000007 cpusubtype=0x80000003` pair.

[2020-08-16 04:46] Evian-Zhang commented on #231
When using `get_arch_name_from_types` for Mach-O files, we should use `a.header.cputype()` and `a.header.cpusubtype()` instead of `a.header.cputype` and `a.header.cpusubtype`. This may help you solve this problem. I would like to open a PR to add more documentation for this method and add some explanation.

[2020-08-17 02:11] Evian-Zhang opened #233 "A better visibility control?"
As Rust supports a large variety of [visibility and privacy](https://doc.rust-lang.org/reference/visibility-and-privacy.html) modifiers, I think it would be better if we use more specific visibility modifier beyond `pub` and not `pub`.

For example, the `peek_bytes` and `peek` method in `src/lib.rs` may could be marked as `pub(crate)` or even private, and the `is_in_range` and other methods in `sr

[2020-08-17 03:32] sollyucko commented on #233
FWIW, `#[doc(hidden)]` can be used to remove the methods from the rustdoc while leaving them publicly accessible. (See https://doc.rust-lang.org/rustdoc/the-doc-attribute.html#dochidden, https://github.com/rust-lang/api-guidelines/issues/27, and https://rust-lang.github.io/api-guidelines/documentation.html#rustdoc-does-not-show-unhelpful-implementation-details-c-hidden)

[2020-08-17 03:41] Evian-Zhang commented on #233
In my understanding, the `#[doc(hidden)]` macro is used for hide the unhelpful `impl` message, which could not be hidden by visibility modifier.

And for those methods which need to be publicly accessible, we can just use `pub` modifier. What I mean is to change to a more specific visibility modifier for those are only needed within this crate, and is useless for people using this crate as library

[2020-08-17 06:10] m4b commented on #233
Something like this sounds good to me. Would you @Evian-Zhang (or anyone else) be interested in collecting a list of pub functions that are candidates for pub(crate)?

Please note: all pub to pub(crate) changes are breaking so be aware that they could be used, and that we’ll need to think carefully whether to go forward.

Although as you said, I think some of the functions / types are basically cr

[2020-08-17 06:41] Evian-Zhang commented on #233
I agree that this change can be very dangerous because it is breaking. So it needs the writers of this library and writers of some famous libraries using goblin together to change the previous-written visibility modifier.

So I suggest taking a long-term plan to change those already-written code, and for new PRs, take a close look at the visibility modifiers before merging it.

[2020-08-17 08:37] Evian-Zhang opened #234 "Wrong handling for no_std?"
In `src/lib.rs`, I can see the following code:

[code]

This seems to be very strange. In my understanding, `#![cfg_attr(not(feature = "std"), no_std)]` means using `#![no_std]` if `std` feature is not presented, and using `extern crate core` if `std` feature is presented.

However, as described in the [no_std](https://rust-embedded.github.io/book/intro/no-std.html) section of The Embedded Rust bo

[2020-08-17 08:56] philipc commented on #234
We want to avoid doing things like this:

[code]

There are a couple of ways to avoid that. One is to always import `core` and write `use core::mem;`. Another is to rename core for `no_std` builds with `use core as std;` and write `use std::mem;`, but I dislike that because it makes it harder to see which code really depends on `std`.

[2020-08-17 09:44] Evian-Zhang commented on #234
OK, I get it.

Just to explain more explicitly for those who have the same question: the code in `src/lib.rs` is to make sure that:

* for those functionalities that both `std` and `core` has, we use `core` no matter `std` feature is presented or not;
* for those functionalities that only `std` has, we use `std` with `std` feature is presented;
* if `std` feature is not presented, we don't link `s

[2020-08-17 09:44] #234 closed

[2020-08-18 04:44] m4b commented on #231
@blinsay I believe @Evian-Zhang comment + documentation changes answers your issue? If yes, would you mind closing? And thanks again for opening the issue!

[2020-08-19 02:37] blinsay commented on #231
Using the method worked, thanks for clarifying!

fwiw - to fix my repro I ended up calling `a.cputype()` since `FatArch` doesn't have a `header`. Might be worth putting a note on the struct fields in addition to the method.

[2020-08-19 02:37] #231 closed

[2020-09-30 05:27] io12 commented on #59
Failure is unmaintained and deprecated now. https://github.com/rust-lang-nursery/failure

[2020-10-15 06:04] lygstate opened #241 "feature request, remove the dependes on log or make it optional."
That's pulls a lot deps, I wanna use goblin in a c runtime but too much deps cause it's hard to tracking.

[2020-10-15 06:07] m4b commented on #241
I don’t think log has any dependencies unless I’m mistaken ?

[2020-10-15 06:18] lygstate commented on #241
More than you think
[code]
dep pull dep, then have a lot of deps.

[2020-10-15 06:18] m4b commented on #241
It looks like it has cfg-if as a dep and two optional others, which is quite annoying. I don’t remember when they were added (or why):

Dependencies

cfg-if ^0.1.2
serde ^1.0 optional
sval ^0.5.2 optional

Making log optional is possible but I’m not convinced it’s worth the effort.

And then you still have plain and scroll and scroll derive.

[2020-10-15 06:19] lygstate commented on #241
scroll also pulls a lot deps, only plain are clean

[2020-10-15 06:20] m4b commented on #241
Is the serde or eval dep getting turned on for you somehow?

[2020-10-15 06:20] lygstate commented on #241
[code]

[2020-10-15 06:21] m4b commented on #241
I guess I don’t understand why
1. getting rid of log would help manage dependencies since there are others, and
2. I’m not sure why dependencies are an issue in a C build; if you can get one dep why couldn’t you get them all ?

[2020-10-15 06:23] lygstate commented on #241
See that, I am trying to building goblin as a depedency of c runtime, means I need modify every depended package to such form

[code]

Maybe this is not a good solution

[2020-10-15 06:24] lygstate commented on #241
but anyway, gobin are very fundenmatal library, better have little deps.

[2020-10-15 06:25] philipc commented on #241
Those look like you're using this in rustc, not c runtime?

If you're using this in rustc, then use the `object` crate instead, since it already has support for this and is used by `backtrace-rs` already. The `object` crate doesn't support as much as `goblin`, but additions are welcome.

[2020-10-15 06:29] m4b commented on #241
So scroll itself will never have an external dep (I guess never say never but I don’t see it happening, maybe uuid was talked about but I’m not sure and doesn’t look like it’ll happen); grtting goblin off of scroll derive is possible but it would be a lot of work and I’m not sure I see the value.

Plain will never have a dep, at least the author promised me and I said ok I’ll take the dep but if i

[2020-10-15 06:48] m4b commented on #241
Actually it looks like log already is optional though I don’t know to what extent at the moment it disables functionality. I would have to check :)

[2020-10-15 06:52] m4b commented on #241
Looks like the functionality is half implemented: https://github.com/m4b/goblin/search?q=log&type=

@lygstate if you want you could open up a PR making log fully optional.

Might be better to create a macro like `glog` which includes the cfg in every log statement.

Anyway that should be enough for a start at least ? :)

[2020-10-15 06:53] lygstate commented on #241
Thanks, make sense, log is not a key component for goblin, I'll try PR when I have the time, thanks a lot

[2020-10-15 06:55] lygstate commented on #241
After reading things about scroll, it's like a macro process engine, so have it as a deps not a problem, won't cause code bloating.
Only the deps are limited, the only issue are log, I'll try to figure out use features to disable log totally.

[2020-10-15 08:14] lygstate commented on #241
scroll_derive is a prolbem, can we remove it with a customized one?
[code]

[2020-10-15 11:49] xcoldhandsx commented on #108
Hello, in my case there is a hang too. Here is the code to reproduce:
[code]
Here is the core file  to parse  (file is broken, it is generated by testing tool)
[file_core_arm_pi.zip](https://github.com/m4b/goblin/files/5384511/file_core_arm_pi.zip)
Hang is occurred in function:
[code]
Execution doesn't get to the next line.

[2020-10-16 03:30] philipc commented on #108
The hang is actually on `notes_iter.count()`. So yes it's the same problem as described in this issue: currently you must not continue iterating after an error occurs or you'll get an infinite loop (and `count` will always continue iterating).

[2020-10-16 03:34] philipc commented on #108
By the way, that file_core_arm_pi.zip has a lot of stuff wrong with it (e.g. try running readelf on it). So while goblin should do better, you are trying to run it on something that is corrupted or invalid.

[2020-12-02 17:02] haraldh opened #245 "use of experimental non_exhaustive"
[code]

[2020-12-02 17:08] haraldh commented on #245
sorry... false alarm.. this was an explicit test suite against 1.37

[2020-12-02 17:08] #245 closed

[2020-12-31 17:23] tux3 opened #246 "is_relocation() checks for SHT_RELA but not SHT_REL"
The [code for `SectionHeader::is_relocation()`](https://docs.rs/goblin/0.3.0/src/goblin/elf/section_header.rs.html#484-486) checks for SHT_RELA but not SHT_REL:

[code]

Apologies if this is some dark corner of the spec that I misunderstood, but as I understand it both SHT_REL and SHT_RELA should be valid relocation sections.

Thanks!

[2021-01-20 05:53] messense opened #250 "MultiArch parsing non fat binary panicked with Scroll(BadOffset())"
Ideally it should return an `Err` instead of panicking?

[code]

[code]

`thin_x86_64` file  [thin_x86_64.zip](https://github.com/m4b/goblin/files/5840377/thin_x86_64.zip)

[code]

https://github.com/m4b/goblin/blob/8d91dd76a1950882301481d92f053e8649faaae7/src/mach/mod.rs#L413

[2021-01-20 06:06] messense commented on #250
OK, I think I should use `Mach::parse` instead of `MultiArch::parse`.

[2021-01-20 06:06] #250 closed

[2021-01-20 06:18] m4b commented on #250
Ok but this is still really undesirable behavior panicking in the debug printer. Would be nice to change that unwrap to an unwra_or(“NO_ARCHES”) or something

[2021-01-24 14:18] Tiwalun opened #252 "Incorrect file_range for ELF sections with type SHT_NOBITS"
I've noticed that goblin returns a non-empty range when `file_range()` is called on a section header with type `SHT_NOBITS`.

From what I understand, these sections don't have any data in the file itself, and only exist in memory. I would expect that the returned range is empty in that case. The returned file range also overlaps with the file range of the next section.

I would suggest that the `f

[2021-01-24 18:45] m4b commented on #252
Yes that sounds right to me, if you made a PR that would be great :)

[2021-01-28 18:54] magebeans opened #255 "mach: Implement LC_BUILD_VERSION"
Is there a reason `LC_BUILD_VERSION` isn't implemented yet? At first blush it seems straightforward and I'd be happy to work on making it happen.

[2021-01-29 08:26] m4b commented on #255
I don't think there's a reason, other than simple omission :) A PR adding it would be great and much appreciated!

[2021-01-31 05:46] #252 closed

[2021-01-31 19:39] sollyucko opened #257 "Replace `pub type` with `pub use`"
# Current state
`elf/mod.rs` (and possibly other modules; I haven't checked), have a bunch of "trivial" `pub type` type aliases that could be replaced with `pub use`: https://github.com/m4b/goblin/blob/master/src/elf/mod.rs#L72-L80.

# The problem
[code]

# History, according to Git

Originally, all of the `pub type`s were non-trivial, targeting `Unified`s, but then they were gradually changed suc

[2021-01-31 19:55] m4b commented on #257
Wow thanks for the very nice issue write up !

I can’t quite remember the rationale (if any) for using pub type. It’s possible there were some issues before the great module change that I was trying to work around? Or maybe not, it was some time ago !

Your proposal tentatively seems good.

I’m unsure about the semver requirements for pub type and pub use ? It’s probably fine since they’re in same

[2021-02-01 17:33] sollyucko commented on #257
I have submitted #259. FWIW, AFAICT the reason for having `pub type` earlier is that `pub use` only works if the target is a path as opposed to an instantiation of generics (e.g. `Unified<...>`).

[2021-02-14 03:31] nico-abram commented on #194
I would be surprised if the /GL .obj files were alike regular COFF files at all, since according to [this Raymond Chen blog post](https://devblogs.microsoft.com/oldnewthing/20140606-00/?p=793) :

[2021-02-15 02:02] #257 closed

[2021-03-01 14:40] messense opened #263 "elf: Implement parsing of symbol versioning"
See https://github.com/PyO3/maturin/pull/436/files#r581158722

[2021-03-01 21:26] ryancinsight opened #264 "Finding path to dll import locations"
Hello,

Is there a way to use goblin to not only read a dll name but get the paths of dll files imported. I'm trying to implement a folder dependency walker that parses the dll files to create a hashmap of dll name and path to it's location as shown in this repository main.rs: https://github.com/ryancinsight/depwalker

Any ideas or suggestions would be greatly appreciated.

[2021-03-02 14:37] messense commented on #264
Maybe you can take inspiration from crosstool-ng's `ldd` script: https://gist.github.com/jerome-pouiller/c403786c1394f53f44a3b61214489e6f

[2021-03-07 16:04] indygreg opened #265 "Support for text based stub libraries (.tbd) files"
Thank you for maintaining goblin. It is a joy being able to open binary files from any platform and analyze their contents without having to install a myriad of tools to support various binary formats.

I recently found myself wanting to parse text based stub libraries (.tbd files) from Rust and was curious if you would be receptive to including support in goblin. (I _might_ contribute support mys

[2021-03-07 18:22] willglynn commented on #265
My sense is that the data structures and parsing belongs in a new `tbd` crate, and that `goblin` should have an optional `tbd` feature which pulls in that crate as a dependency and adds whatever logic belongs in `goblin` to abstract over the `.dylib`/`.tbd` commonality. @m4b?

[2021-03-08 00:52] m4b commented on #265
@indygreg first off, thank you for the kind words! :)

So re `.tbd` files, the short is that I would/could be persuaded to include them in goblin. The long is follows, with some pros and cons, and rationale.

So generally speaking, in the past, I've opted for:

1. very little dependencies
2. including as submodules in goblin things which are directly related to "binaries" or artifacts in the linki

[2021-03-08 01:05] indygreg commented on #265
I decided to shave a yak today and I implemented a minimal crate for parsing `.tbd` using `serde-yaml`. Unfortunately, I learned when doing this that `yaml-rust` doesn't expose tags on YAML documents/hashmaps (https://github.com/dtolnay/serde-yaml/issues/147), so I had to do something very ugly to parse the YAML (https://github.com/indygreg/PyOxidizer/blob/ca1c80bbcce64fc58d5f9a9806055bd32ff7a567/

[2021-03-08 01:07] m4b commented on #265
So i'm wondering if a simple, more flexible approach here is just to detect the tbd (glancing at your code, this seems somewhat complicated/tedious), and just return a `TBD(&'a str)` for the variant? That way downstream users can parse, do whatever they want with it, and we can sidestep the whole external deps/serde/yaml situation in goblin?

[2021-03-08 02:19] indygreg commented on #265
If you are proposing `goblin::Object::parse()` would return a `goblin::Object::Mach` `TBD(&'a str)` variant with the unparsed YAML content, that seems like a reasonable first step to me. The API docs could potentially advertise a 3rd party crate for parsing if we wanted.

In order to avoid a future API break, do you think it would be worth declaring a new `TBD` type - initially an alias or thin wr

[2021-03-08 03:55] ryancinsight commented on #264
Thanks!

[2021-03-08 03:55] #264 closed

[2021-03-08 05:18] willglynn commented on #265
YAML supports UTF-8, UTF-16, and UTF-32 in both byte orders (see [YAML 1.2 § 5.2](https://yaml.org/spec/1.2/spec.html#id2771184)). `&str` is specifically UTF-8, so perhaps we should use `TBD(&'a [u8])` instead.

I've been assuming that `.tbd` is a YAML document with a specific structure which would necessitate supporting the entirety of the YAML spec. That's a Herculean task that even [dedicated Y

[2021-03-08 05:33] m4b commented on #265
Oh I actually think I like this idea, I believe you’re proposing eg:

[code]

then as first approximation (Maybe final!) we can direct users to parse the file using eg your crate if you publish it or, etc?

On the other hand the user could just do all the same by attempting such a parse if they encounter an Unknown variant?

I guess the advantage to returning the TBD(TBD) variant is just to signal

[2021-03-08 18:29] indygreg commented on #265
That's exactly what I'm proposing.

Yes. By introducing the enum variant, goblin effectively says *we know this data is related to mach-o*. That could be a useful signal to end-users and a nudge that they should consider doing something with the data. It does add an API break though. I'm unsure if you are willing to do that with the minimal added benefit considering there would be no built-in supp

[2021-03-16 21:16] kotauskas opened #266 "Does Goblin intend to support binary generation?"
A format parser and a builder for the same format more often than not share a majority of code. Since Goblin aims to be the one-stop shop for decompilation and analysis, I'm wondering if extending it to support generating executables aligns with the goals for the crate. If not, what would be a good crate to assist in generating executable files?

[2021-03-20 03:09] philipc commented on #266
[faerie](https://github.com/m4b/faerie) uses goblin, but only supports generating object files. I'm not aware of anything that generates executables (that's normally the linker's job, and there's not much need to write new linkers). This probably belongs in a new crate. You could certainly use goblin to assist with this though.

[2021-03-28 10:15] 2vg opened #267 "Failed to parse PE of loaded module"
I thought goblin was the only library that could parse PE correctly, but unfortunately after getting the list of modules loaded from PEB, trying to parse from the DllBase address seems to fail halfway.
(fyi, pelite succeeded in parsing this, but failed to parse the system DLL. Goblin is perfect for parsing from disc dll.)
Here is the procedure for reproducing the error.

put this in `Cargo.toml`
[

[2021-03-28 11:33] 2vg commented on #267
hi I didn't know that the resolve_rva option could be set to false.
I used it, but I get another error.
[code]

Only some loaded images fail, but others parsed correctly. (For example, ntdll, kernel32, etc)

[2021-03-28 11:34] 2vg commented on #267
By ignoring the error, I was able to achieve what I wanted to do, but I'm not sure if this is a problem to be resolved in the future, so I'll leave an issue.
If you're willing to close it, you can close it!

[2021-04-11 19:21] #267 closed

[2021-04-14 21:02] indygreg opened #269 "Apple code signing Mach-O data structures"
I wanted to share that I have just published a crate that implements support for Apple's code signatures: https://crates.io/crates/tugger-apple-codesign.

I'm mentioning this in the goblin issue tracker because a) I used goblin extensively (thank you so much for goblin!) b) there are a lot of data structures related to code signing embedded in the Mach-O and goblin may want to consider parsing the

[2021-05-26 16:09] dancrossnyc opened #272 "Build failures with alloc, no_std and archive features."
When building goblin for no_std environments with the alloc and archive features enabled, I ran into build failures because the `to_vec` method on `RelocSection` in `src/elf/reloc.rs` uses `Vec`, which wasn't visible:

[code]

 Importing `alloc::vec::Vec` is conditioned on the `endian_fd` feature being enabled, but the `to_vec` method (and it's use in the `Debug` impl on `RelocSection`) don't depe

[2021-05-28 09:30] Anniywell opened #274 "MIPS64 parse error: "type is too big (1236271128) for 137416""
[Error file](https://github.com/m4b/goblin/files/6559897/mips64.txt)
[code]
This is my code:
[code]

[2021-05-30 18:07] m4b commented on #274
confirmed, thanks for uploading the file! likely something in section headers or program headers says something has a larger size (1.2GB) than the binary itself. It could be zero space issue, though I thought we'd fixed that, or something else is going on. @Anniywell would you like to investigate? A simple way to test, would be to e.g., add some prints into the elf backend then run this:
[code]

S

[2021-05-30 18:25] m4b commented on #272
Thanks for the fix; so i've added this line to the `make api`  test, so it should catch these kind of regressions in future hopefully; alloc was added after all the other tests, so i think the `make api` test was omitted; let me know if you have any other issues with the features, especially on no std/alloc environments, this is not as well tested/covered as I would like, and would especially like

[2021-05-30 18:25] #272 closed

[2021-05-30 18:26] m4b commented on #272
I've also pushed new 0.4.1 version which includes your fix

[2021-05-31 05:51] philipc commented on #274
This is a MIPS quirk, you need something like https://github.com/gimli-rs/object/blob/832f5277a0774de18f84e7c27401f974e4b6a064/src/elf.rs#L1129-L1139 to read `reloc.r_sym` correctly.

[2021-06-01 02:18] Anniywell commented on #274
I added some printing, r_info is not getting the right value
This is readelf output:
[code]
This is example code output:
[code]

[2021-06-01 04:09] m4b commented on #274
as philipc said, someone will have to make a PR adding this functionality for mips quirks apparently; @Anniywell would you like to submit one ? :)

[2021-06-01 06:42] Anniywell commented on #274
I tried to read the data of **.rel.dyn** in Python, and found that offset and info byte order are not consistent. The ELF is **little endian**, but the **info** part is **big endian** from the read result. I think this is the reason for the incorrect **info** value, but I know how to fix it.
[code]

[2021-06-02 01:13] dancrossnyc commented on #272
Thank you!

[2021-06-02 01:56] Anniywell commented on #274
Thank you for providing the relevant code of LLVM, which answers my doubts.

[2021-06-29 14:39] CohenArthur opened #276 "Is there any reason why no enums are provided for the Header fields?"
I am trying to use `goblin` in a project to check the `e_type` of a binary file. I noticed that there are no `type` methods on the `Header` struct, but that the field was publicly accessible as an u16. I haven't been able to find any "abstractions" over this peculiar field, but noticed that some were available such as the `container` and `endianness` methods with associated enums. Is there any rea

[2021-06-30 08:17] philipc commented on #276
I didn't write the code, but here's my thoughts.

`container` and `endianness` are different because they don't directly correspond to header fields (they aren't `#[repr()]`), and they are concepts that aren't specific to ELF. They can be exhaustive enums because support for more variants is unlikely and necessarily requires code changes anyway.

As I see it, the advantage of using enums is that r

[2021-06-30 11:13] CohenArthur commented on #276
Isn't the same true for `e_type`? I don't think that many new variants will be added|
[code]

That's true, but I am simply talking about having an abstraction on top of the header, not using it in the header structure. I also meant simply about those exhaustive enums such as, correct me if I'm wrong, `e_type`. I was simply thinking about something like.

[code]

and having an associated method:

[

[2021-06-30 12:01] philipc commented on #276
There's also:
[code]
I don't know if anything actually uses these. So maybe it is feasible for `e_type`. I'm not sure that there are many more fields like this though. For example, `e_machine` will get more variants, and `e_flags` depends on the machine. Segment types, section types and relocation types will all get new variants.

The `xmas-elf` crate defines both enums and newtypes, and includes

[2021-07-01 03:23] Ben-Lichtman opened #277 "Support FromCtx and IntoCtx for pe structs"
the layout of PE structs is pretty well documented, so it should be possible to turn PEs to and from bytes.

[2021-07-01 11:30] CohenArthur commented on #276
Ah right, sorry, that wasn't very clear! I thought about using `repr(u8)` (or rather, u16) in order to not duplicate code:

[code]
But I had forgotten about OS specific types, so it does not apply anymore.

[2021-07-01 11:32] CohenArthur commented on #276
In the end the enum would be exactly as you mention:

[code]

(And this cannot be made repr(u16), obviously).

[2021-07-04 16:59] m4b commented on #266
I think this question was answered, let me know if you have any other questions, thank you!

[2021-07-04 16:59] #266 closed

[2021-07-04 17:01] m4b commented on #277
So I thought the PE structs implemented FromCtx (reading) ? However for I don't think IntoCtx has been implemented yet (writing)

That would be pretty awesome :) I think the only reason it isn't done is simply no one had the time to write the corresponding IntoCtx trait impls (e.g., like was done for mach + elf); if you'd like to send a PR, that would be great!

[2021-08-01 14:55] Maimonator commented on #171
Hey! @m4b
This still seems to be an issue, I suspect that it's because when parsing for PE the `FirstThunk` pointer is treated as the pointer for the IAT, even though the loader overrides this with the correct functions.
When the PE is on the disk the `FirstThunk` actually points to the ILT.

You can see that on CFF Explorer both entries for OFT and FT have the same value.
![image](https://user-im

[2021-08-01 15:17] Maimonator commented on #171
Also I fixed this by using the IAT in the import directory entry as base and adding a counter, in the following code:
https://github.com/m4b/goblin/blob/master/src/pe/import.rs#L279-L288

This is the code that solves it.

[code]

**Would love to PR this if it seems reasonable, tested it for both 64bit and 32bit**

[2021-08-01 18:12] m4b commented on #171
hi @Maimonator thank you for investigating! if you want to push your patch, we can review (a diff with the changes is easier to read); even better is if we add some tests that exhibit the failing problem, and how this fixes it/allows this new test to pass?

[2021-08-02 02:19] philipc commented on #171
That's changing the code to return the addresses of the IAT entries instead of their values. I don't think that's the correct thing to do.

As I understand the problem, the values of the IAT entries are generally not useful because they are overwritten by the loader, but that doesn't mean that returning the values is incorrect; we're just returning the information that is in the file.

The solutio

[2021-08-02 12:22] Maimonator commented on #171
I actually agree with your statement, the values of IAT entries could be useful for other things, and this is an extra functionality.
Though I do think that it should be quite common to return the RVA for each function.
Exposing `SyntheticImportDirectoryEntry::import_address_table_rva` is a good start.
But maybe it would be helpful to additionally expose a function that returns import names and th

[2021-08-02 12:37] philipc commented on #171
This isn't something I'm familiar enough with to be able to understand how it is useful, sorry. My understanding is that these values actually aren't useful until the loader has set them, so I don't see how knowing their rva is going to help you. Are you using this to inspect the memory of a program that is already running? Either way, if it is useful to you, please open a PR with your suggested c

[2021-08-02 13:45] Maimonator commented on #171
The RVA is useful when disassembling or patching binaries.
![image](https://user-images.githubusercontent.com/8999543/127871201-559f2e24-1dd8-467e-92d3-4d42fbe06213.png)
For example IDA knows this is a `jmp` to the function `CloseHandle` because the operand is `CloseHandle`'s RVA.
The loader didn't set them yet, but we know it will set it there. So we can already draw conclusions about what the co

[2021-08-02 21:32] philipc commented on #171
Thanks for that explanation. Also my suggestion to add `SyntheticImportDirectoryEntry::import_address_table_rva` is wrong because it already exists at `SyntheticImportDirectoryEntry::import_directory_entry.import_address_table_rva `.

[2021-08-02 21:56] philipc commented on #171
I've also noticed now that the `import_lookup_table` can have holes in it: https://github.com/m4b/goblin/blob/b43b93ed2243b75043d6fb1021ad9aec227df1f5/src/pe/import.rs#L144-L145 so calculating the RVAs may be inaccurate. That is, we do need to store them.

Something that is unclear to me is what happens when the ILT and the IAT have different initial values? Which one does the loader use when sett

[2021-08-03 11:18] Maimonator commented on #171
Wow nice find, I guess I'll have to fix it in my PR.

About your question the loader uses the ILT, and overrides the IAT.

To be honest I'm not quite sure about the specifics, I've tried some tests with a sample code.
I basically changed the values of the IAT and ran the program to see if it still loaded properly.
It seems to me that the value under `FirstThunk` can have any value just not 0, so t

[2021-08-03 12:40] philipc commented on #28
For reference, this was actually a bug with parsing PE32+ imports, which was later fixed by #82.

[2021-08-03 12:49] philipc commented on #171
This shouldn't actually happen for valid files. It did previously happen, but that was due to a bug in the parsing. Maybe we should simply stop parsing imports if this does happen for a corrupted file, instead of leaving a hole?

[2021-08-03 14:53] Maimonator commented on #171
Do you have an example file that triggers this behavior?

[2021-08-03 21:14] philipc commented on #171
No, there was an example file in the original report #28, but we now parse that successfully.

[2021-08-05 16:46] Maimonator commented on #171
I see, sorry for the long time for the reply.
How do you want to go forward with this?
I think both options are legit, I rather leaving a hole, as even if the imports are corrupted it doesn't mean that other information is also corrupted.
But that's just my opinion.

[2021-08-05 23:46] philipc commented on #171
My opinion is to keep things simple, especially for something that probably prevents the file from being executed, but I don't maintain this project. This also has the advantage that then the original problem in this issue can be solved by the user doing a simple calculation, e.g.
[code]

[2021-08-08 06:22] SergeyVolkovich99 opened #279 "generic COFF support?"
Hello, i next had question, is present  support for generic COFF not PE/COFF?

[2021-08-08 23:29] #279 closed

[2021-08-10 21:33] johannst commented on #263
Hey :]
I'd be interested to take a look at this issue. If that's fine you can just assign me.
I planned to prototype on the weekend to get a starting point for some discussions.

[2021-08-10 22:06] m4b commented on #263
Go for it!

[2021-09-14 08:24] messense commented on #263
Thank you @johannst

[2021-09-14 08:24] #263 closed

[2021-09-22 20:10] johannst opened #282 "elf: symbol version utility APIs"
After landing PR #280, which provides parsing of elf symbol version information, I wanted to discuss about higher-level utility APIs that would cover common use-cases.

In general I see the following use-cases:
- Extract shared lib dependencies with needed versions (https://github.com/PyO3/maturin/pull/626)
- Symbol lookup with specific versions (https://github.com/johannst/vdso-proxy-poc/blob/mai

[2021-09-22 23:38] philipc commented on #282
The main requirement is to look up the version information for a given version index. Instead of using iteration like in `find_version`, you may want to build a `Vec`, since I expect ELF producers will assign sequential version indices, and at least the [glibc dynamic loader relies on this](https://github.com/bminor/glibc/blob/1356f38df5be0776823eb2c40cc4e607b86b9680/elf/dl-version.c#L245-L273). e

[2021-09-23 19:53] johannst commented on #282
I wonder if it would make sense to offer both, in case you want to lookup a single version similar to the link in the second bullet item above, In that case you don't have to build the full `Vec`.

I don't see how the glibc dynamic loader relies on sequential version indices in the lines you linked. It seems to compute the max index and allocate an array with the corresponding size (like your impl

[2021-09-23 21:40] philipc commented on #282
Sure. For that use, it doesn't make sense to me that you would want to check both verdefs and verneeds for the same symbol. You should already know which it might be in. So it might be more useful as separate methods on `VerdefSection` and `VerneedSection` to find a given `Versym`.

Yeah, "rely" is probably too strong. If the version indices are random values in the 15-bit range then the algorithm

[2021-09-25 16:01] johannst commented on #282
Indeed, in that case you should already know in which section to look for. Having a lookup on each section sounds good to me.
Additionally providing a `Vec` based approach similar to your [`VersionTable`](https://github.com/gimli-rs/object/blob/9ea7ad4f031ce0cd25edaabaad3cf9b99be59908/src/read/elf/version.rs#L63-L66) implementation should cover the different lookup cases.

I could continue to prot

[2021-10-02 17:32] charlesxsh opened #283 "panicked at 'attempt to subtract with overflow'"
for a given input:
[in.zip](https://github.com/m4b/goblin/files/7271905/in.zip)

with following code:
[code]

output:
[code]

expect: properly return error instead of panic

[2021-10-04 12:49] VinceOrtolano opened #284 "Parse PE from memory"
Is parsing PE from memory allowed in goblin ?
I did the following:

1. Get the image of the current process
2. Retrieve the image size via the winapi  ( nt_header.OptionalHeader.SizeOfImage )
3. Call PE::parse with a slice built with the image and its size

Here is the code to parse the PE:
[code]

When printing image and size values, I have:
image: 0x7ff78b3d0000 size: 528384

And I have the foll

[2021-10-06 17:22] cbiffle opened #285 "`vm_range` is lossy on 32-bit platforms reading 64-bit objects"
The current implementations of `SectionHeader::vm_range` and `ProgramHeader::vm_range` look like this:

[code]

Those `as usize` casts are silent truncating casts on 32-bit platforms when the input object is 64 bit. This also means the `saturating_add` is subtly wrong, since it will saturate to the current host's `usize::MAX` rather than the actual end of section in the file. The return type of `v

[2021-10-17 05:17] m4b commented on #284
@VinceOrtolano sorry for the delay; have you tried this method? https://docs.rs/goblin/0.4.3/goblin/pe/struct.PE.html#method.parse_with_opts

I believe you should set resolve_rva to true to get the desired behavior iirc.

[2021-10-18 09:45] VinceOrtolano commented on #284
Thanks for your advice @philipc !
That is what I was trying to do, and after some tests I've found that it does solve the issue.

Tanks for your help @m4b and @philipc, and have a great day.

[2021-10-18 11:04] XVilka opened #287 "Missing tag for 0.4.3?"
I see there is even a changelog with some fixes for 0.4.3 (even with the date defined: `## [0.4.3] - 2021-9-18`) but no tag yet. Was it forgotten or just not ready yet?

https://github.com/m4b/goblin/commit/289baf559d81a581c59c6a9b66810b408963602b

[2021-10-19 21:51] richlowe opened #288 "is_import() incorrectly checks st_value == 0"
You want to be checking whether it's global/weak and has a shndx of 0 (SHN_UNDEF)

[2021-11-08 07:57] Jake-Shadle commented on #185
Hey, I've gone ahead and ported the breakpad elf synthesization code that @luser mentioned to Rust [here](https://github.com/EmbarkStudios/sentry-contrib-rust/blob/7ef9ac83e0630337f5d2f57d0f390a92a0e39935/synth-elf/src/lib.rs) as I needed it for testing purposes for some [code](https://github.com/EmbarkStudios/sentry-contrib-rust/blob/7ef9ac83e0630337f5d2f57d0f390a92a0e39935/breakpad-handler/src/l

[2021-11-08 13:34] antze-k opened #289 "No way to obtain index_type from goblin::archive::Archive"
The docs for IndexType say "The type of symbol index can be present in an archive. Can serve as an indication of the archive format." but there's no way to get that indication since the field is private.

Maybe the field should be made pub, or there should be a method for getting its value?

[2021-11-08 16:12] luser commented on #185
Similarly, Gankra recently refactored the `synth-minidump` code I had written in the `minidump` crate out to a separate (test-only) crate so it could be more easily used across the various crates in the workspace:
https://github.com/luser/rust-minidump/tree/master/synth-minidump

[2021-11-26 15:21] nagua opened #290 "Wrong dynamic library soname parsing"
Hello everyone,

I wanted to get the soname of a shared library and `readelf` was able to correctly determine the name,
but `goblin` wasn't able to do so. It just showed that the library had no soname. So I dug a bit in the elf
file specification and was able to get the correct value. With goblin I could simply call
`elf.dynstrtab.get_at(elf.dynamic.unwrap().info.soname)` and get the correct resul

[2021-12-01 15:20] dureuill opened #291 "PE: missing exported symbols in PEs"
Hello, and thank you for making goblin!

I've been trying to use goblin (through [symbolic](https://docs.rs/symbolic/)), but I noticed that there is a difference in the number of export symbols reported by goblin vs other tools (eg rabin2).

For instance, taking the binaries uploaded in attachment (from open source projects like VirtualBox), I notice the following differences in reported symbols:

[2021-12-13 14:08] dureuill commented on #291
Fixed by #293, so I'm closing this!

[2021-12-13 14:08] #291 closed

[2022-01-08 14:45] n01e0 opened #300 "elf: The strtab in the section header is wrong."
example

[code]

`.plt`doesn't appear in shdr_strtab.

[2022-01-08 20:23] m4b commented on #287
Sorry I missed this, will add a tag

[2022-01-08 20:25] m4b commented on #285
I’d be interested in merging a fix like this to roll up one other breaking change in 0.5 release

[2022-01-08 23:59] philipc commented on #300
This is expected because strings can be any suffix. That is, `.plt` is a suffix of `.rela.plt`. Why do you want to use `to_vec`? I don't think it is a useful function.

[2022-01-09 04:19] n01e0 commented on #300
Yes, sir. That's right. However, I don't think StrTab::parse takes this into account.

For example, there is no way in current goblin to correctly parse the `StrTab` in the section header when you want to do the `readelf -S` equivalent as shown [here](https://github.com/m4b/goblin/pull/299#issuecomment-1008011655).
So, in #299 , I plan to return the bytes of the `StrTab` as a `Vec` and provide a w

[2022-01-09 04:28] philipc commented on #300
`StrTab::parse` records the offset of the string so that it can be taken into account in [`get_at`](https://github.com/m4b/goblin/blob/6efb91cf0ee381297aaa4dbeaf1987c2abb01200/src/strtab.rs#L114-L128) using a binary search.

The equivalent of `readelf -S` is to iterate over the section headers, and then use `strtab.get_at(section.sh_name)`. There is never a good reason to iterate over individual s

[2022-01-09 04:37] n01e0 commented on #300
Wow I was not aware of this method.
This may indeed be sufficient.

[2022-01-09 04:41] n01e0 commented on #300
It's a small thing, but how about "specify in the documentation that `StrTab::to_vec` should not be used for `shdr_strtab`"?
It's natural that a user who wants `shdr_strtab` in Vec will try to use `to_vec`, but it's not easy that he will find that `.plt` is not displayed there.
I think an explicit warning would reduce the number of people repeating mistakes like mine in the future.

[2022-01-09 08:16] m4b commented on #300
When I first saw your issue I was puzzled at first too; perhaps a documentation blurb on `to_vec` is a good idea? or perhaps showing iteration as a doc comment code example?

[2022-01-09 08:28] n01e0 commented on #300
How about this?

[code]

[2022-01-09 08:30] m4b commented on #300
Yea something like that sounds good to me; or even pasting philipc's code snippet as a ```rust block?

[2022-01-09 08:33] m4b commented on #300
anyway, PR's welcome :)

[2022-01-09 08:35] philipc commented on #300
This problem isn't specific to `shdr_strtab`; it applies to every strtab. I don't know why `to_vec` even exists. As I've said, I don't think it is a useful function. Maybe deprecate it instead.

[2022-01-09 08:39] m4b commented on #300
There is no way to access the contents of the parsed string table without `to_vec` or something that returns an iterator over the parsed values. Someone might want this, for e.g, displaying what's in the string table without a reference index.

E.g., I use it right here: https://github.com//m4b/bingrep/blob/7a2e2a157ada79afe51b46396347ac706d78a029/src/format_elf.rs#L380

:shrug:

[2022-01-09 08:39] m4b commented on #300
It might be better to remove/deprecate it and just return an `impl Iterator<Item = &'a str>` since this wouldn't require the alloc flag

[2022-01-09 08:44] m4b commented on #300
haha, funny enough, in the link i gave, that's actually the to_vec method of Symtab ;) so i guess i don't use it in bingrep, at least, but the point still remains, there's no way to access the parsed strings inside the string table without such a method.

[2022-01-09 09:37] n01e0 commented on #300
How about creating an appropriate `to_vec` method for each StrTab?
For example
[code]

[2022-01-09 10:00] philipc commented on #300
Why would you want to do that instead of using `get_at`? Ok, maybe for a niche case like bingrep, but most people using this crate aren't writing their own bingrep.

You very rarely want a list of section header names that are disassociated from the section headers. Typically you only want to process the name in conjunction with other information from the section header. Additionally, nothing says

[2022-04-01 17:47] tux3 opened #304 "goblin >= 0.4.2 fails to parse valid ELF Strtab with "bad input invalid utf8""
Starting with goblin 0.4.2, `Strtab::parse` does the following:

[code]

However, it appears that the contents of the strtab in a valid ELF files are NOT always valid UTF-8.
Some of the strtab entries in my ELF object look like `[F4, 65, 02, 00]`, or `[82, 66, 02, 00]`. This causes `get_str` to fail and the ELF fail cannot be parsed.

The ELF file in question was created by GNU ld, it's a relocata

[2022-04-05 02:50] philipc commented on #304
I think there's two bugs:
1. the strtab contents may not be valid UTF-8 strings
2. when `e_shstrndx == SHN_XINDEX`, the index of the section header string table should be obtained from the `sh_link` field of the section header at index 0

I suspect that for the file you are parsing, the first bug is only occurring as a result of the second bug. That is, we're using the wrong section index (65535)

[2022-05-23 10:01] robbert-vdh opened #307 "'cannot map exception_rva (0x5e000) into offset' when parsing PE32+ library"
Hi,

I've been using winedump to parse a whole bunch of Windows library files to check whether they export certain functions. This has been working fine, but shelling out for every file is a bit inefficient and it adds an external dependency. I've been meaning to replace this with goblin, but with one of the 700-ish files I've been parsing I'm getting this error:

Problem is, it's happening with t

[2022-05-24 02:10] m4b commented on #307
This may be what 9359fd09 was designed for; @robbert-vdh could you try out the parse_opt version by any chance?

[2022-05-24 02:19] robbert-vdh commented on #307
With that option disabled I'm getting a `bad offset 1467245907`. No idea what would or should be at that offset though, don't have the time to really look into this at the moment. Presumably there's something funky going on with this binary, but both Wine as well as actual Windows can handle it just fine.

[2022-05-27 19:18] track-5 opened #309 "coff: String table parsing returns more strings than exist in the table"
Platform: windows 19044.1706
goblin version: 0.5.1

## Expected behavior
When I parse the string table in a coff file, I expect it to return me just the strings that exist in the symbol table.

## Actual behavior
The string table parsing code instead returns three extra strings in the beginning of the list of strings.
The problem seems to be due to the fact we don't update the offset before readin

[2022-06-01 03:54] shuffle2 opened #311 "PE strings include NUL char"
i'm using goblin to get the required info from PE headers to construct path of pdb on symbol server. `cv.filename` retains the NUL terminator and was screwing stuff up. It might be annoying to implement correctly throughout the parser, as iirc some strings are exactly sized while others still keep terminating char (even tho they're sized), and probably others can be either way. It would be great i

[2022-06-02 06:37] shuffle2 opened #312 "enable parsing from loaded image"
Most image formats handled by goblin are stored on disk in a different layout than they'd actually appear in memory if mapped for execution.

At least for PE, pointing goblin at an image that has been loaded into memory results in it erroring out (during processing imports, but i didn't look closer). It would be nice if it Just Worked.

btw, looking at the ImageBase field in the header and compari

[2022-06-03 02:23] m4b commented on #312
I believe we have the infra necessary to do this, it’s the pe config you pass to parser to eg resolve rvas I believe. It would be neat to perhaps use the heuristic you suggested to enter into an in-memory parsing mode (by setting the flag perhaps ?)

would you be interested in investigating the issue ?

[2022-06-09 06:10] shuffle2 commented on #312
My use case was pretty small so I just rewrote my code (which needed to follow some pointers in the PE) to do the VA translations using the PE headers. It's slower than reading from a mapped image, but it's OK for me for now...so I'm not planning on investing time into this.

[2022-06-11 19:51] m4b commented on #311
@shuffle2 would you like to investigate this issue/send a PR? :)

[2022-06-11 19:52] m4b commented on #309
@track-5 i think this is closed now? please re-open if not fixed, and thanks for the pr!

[2022-06-11 19:52] #309 closed

[2022-06-11 19:53] m4b commented on #300
Closing this as I think this is resolved, please re-open if not the case

[2022-06-11 19:53] #300 closed

[2022-06-14 21:30] lzybkr opened #314 "PE images with multiple debug directory entries not fully supported"
Goblin currently parses the first debug directory and ignores any subsequent entries.

A PE debug directory can have multiple entries, for example, a C# program compiled with the option `/debug:embedded` might have 3 entries like:

[code]

In the above - the pdb data is in the image, not in a separate file. This isn't the only scenario where there may be multiple debug directory entries.

I'm not

[2022-06-29 22:35] theflakes opened #315 "IMAGE_DIRECTORY_ENTRY_COM_DESCRIPTOR"
Thanks for this great crate. Using it in a forensic file tool here: https://github.com/theflakes/fmd

I'm trying to figure out how to query the optional_header for this: IMAGE_DIRECTORY_ENTRY_COM_DESCRIPTOR

Trying to identify .Net bins and then hash the TypeDef information.

thanks again,
Brian

[2022-07-18 02:48] #304 closed

[2022-07-25 04:51] SquareMan opened #318 "`pe::symbol::Symbol::name` skips the first 4 characters of a symbol's name"
This is a new issue in Goblin 0.5 and appears to have been introduced by #310

The beginning of a COFF object file's string table is the overall length of the string table. Symbol's name offsets are based on index `0` being the beginning of the string table, therefore including the length. #310 prevented this length from being parsed as strings, but in doing so has caused string lookups for symbol

[2022-07-26 17:09] Sparrownor1 commented on #126
Is there a way to do this within `goblin` itself however? Would not like to use other crates if possible for the sake of uniformity

[2022-07-26 22:08] philipc commented on #126
Those links I gave were from when `object` still depended on `goblin`. The code they contain shows how to do it using only `goblin`.

[2022-07-27 13:06] messense commented on #274
I'd love to see this issue fixed, @m4b can you elaborate on how to fix this? I'm not sure where to get started.

[2022-07-30 04:07] nick96 opened #320 "Mach-o multi-arch containers can contain archives"
I've been try to write a little toy linker for MacOS using goblin. So far it has been a great experience and thanks for all the hard work you've put in the library! It has helped me learn a lot about the different formats I'm trying to work with. I am running into a bit of an issue with fat Mach-o binaries though. When I try to get the arch specific binary out of the container it fails with `Inval

[2022-07-30 04:15] nick96 commented on #320
Would you be open to a PR changing `FatArch::get` to something to the effect of:

[code]

[2022-07-30 04:30] m4b commented on #274
yes let's get it fixed! so reading over comments from this thread, I think we have enough information for some kind soul to fix this, @messense would you be interested in making the PR?

I believe someone just has to implement this mips quirk when parsing, iiuc, as linked already:
https://github.com/gimli-rs/object/blob/832f5277a0774de18f84e7c27401f974e4b6a064/src/elf.rs#L1129-L1139

or inlined:
[

[2022-07-30 04:41] m4b commented on #320
Hello!

Nice! I actually began writing a linker many moons ago, but never finished (I wanted to write something like lld or mold, a cross platform linker, because it's kind of weird they didn't exist before); in any event, it's why all the Pwrite impls got added to all the structs (that and the dead https://github.com/m4b/faerie , an object file writer), so I'm glad it ended up being useful for so

[2022-07-30 11:56] nick96 commented on #320
Okay cool! I'll take a look at adding it. Yeah, I don't think it can be a backwards compatible change because `MachO` is a struct, not an enum. I guess it'd be possible to create another method and leave `MultiArch::get` alone but that would create a quick confusing API.

[2022-08-01 08:04] #318 closed

[2022-08-02 05:46] messense commented on #274
Yes, I've read the thread and I understand that. But I'm not sure where to put the code and what's your preferred way to pass down the mips64el architecture information.

[2022-08-24 02:05] puffyCid opened #323 "index out of bounds error when getting imports on arm64e MachO binaries"
Hello,

I am encountering a small issue when attempting to parse arm64e MachO binaries using goblin.
When I attempt to call the function `imports()` I get an `index out of bounds` error.
An example binary that triggers the error is: `/usr/bin/lpoptions` `MD5: b916ce6df2551e4f9eb7e739b07a8d1d`.
The file is a FAT binary.   I also encounter the error when using the example file `dyldinfo.rs`
The `x86

[2022-08-24 12:18] koutheir opened #324 "Support for COFF object files"
COFF object files are not supported. The function [goblin::peek()](https://docs.rs/goblin/latest/goblin/fn.peek.html) doesn't seem to support this COFF format.

This lack of support causes the [issue #36 in `bingrep`](https://github.com/m4b/bingrep/issues/36), reproducible as follows:
[code]

Whereas:
[code]

[2022-08-25 01:54] MatthewShao opened #325 "Is it possible to modify binary with goblin?"
Hi, goblin is a really cool project! My use case is to modify the symbol names of elfs according to a set of rules. I went through the doc of [goblin](https://docs.rs/goblin/latest/goblin/index.html)::[strtab](https://docs.rs/goblin/latest/goblin/strtab/index.html)::[Strtab](https://docs.rs/goblin/latest/goblin/strtab/struct.Strtab.html#), it seems the underlaying bytes are immutable. Is it possib

[2022-08-30 13:09] badboy opened #326 "Tag for release v0.5.4 missing in repository"
v0.5.4 was cut in commit https://github.com/m4b/goblin/commit/59ec2f3c57c53aa828b6a4cb4730d1efe3e43a05, but hasn't been tagged in the repository as such.
It would be nice to add that tag.

[2022-09-02 23:40] koutheir commented on #324
Another issue that hinders COFF support is the assumption of `Strtab::parse()` that strings stored in string tables are all encoded as UTF-8.

The following produces a simple PE/COFF object file whose string table contains a string that is encoded in `ISO-8859-1`:
[code]

[2022-09-07 11:57] anfedotoff opened #328 "Panic in src/archive/mode.rs:163"
Hi!
We were doing some fuzzing with libFuzzer and our tool Sydr and we found some issues. Here is the panic message:
`thread 'main' panicked at 'byte index 3 is not a char boundary; it is inside 'Г' (bytes 2..4) of `00Г00`', library/core/src/str/mod.rs:127:5`. The problem is because we try to build utf-8 str from non-utf8 characters [here](https://github.com/m4b/goblin/blob/master/src/archive/mod.

[2022-09-07 18:37] m4b commented on #328
Thanks for fuzzing, I love that!

I’m a bit busy but I’ll begin triage on issues little later this week, however for particular case of from_utf8 this is available in core: https://doc.rust-lang.org/stable/core/str/fn.from_utf8.html

so that should allow your suggested fix to work in no std environment :)

[2022-09-08 08:14] anfedotoff commented on #328
Well, I Iooked. This [function](https://github.com/rust-lang/rust/blob/master/library/core/src/str/validations.rs#L127) does validation of utf8 strings in std. We could put this code in `src/archive/mode.rs` and do validation before calling `buffer.pread_with::<&str>`.  Another way we could do the same stuff as `std::str::from_utf8` and `std::str::from_utf8_unchecked` for `pread_with::<&str>`.

I

[2022-09-09 16:49] anfedotoff opened #331 "Subtruct with overflow (maybe not dangerous)"
Hi!
Using our Sydr checkers we found an overflow [here](https://github.com/m4b/goblin/blob/master/src/pe/utils.rs#L58).

`thread '<unnamed>' panicked at 'attempt to subtract with overflow', /goblin/src/pe/utils.rs:58:14`

I had a brief look, it seems not dangerous, what do you think?

[2022-09-12 03:40] m4b commented on #328
Actually taking a second look here, I'm a little bit confused what the issue is? Specifically, scroll::Pread on an &str uses this implementation:

https://github.com/m4b/scroll/blob/73c1d6764446626593f19422021445c21183698e/src/ctx.rs#L699-L705

(i.e., it calls ::from_ut8 for you).

Could you attach your full stack trace? There shouldn't be any panicking at all here, since the error should be propa

[2022-09-12 03:41] m4b commented on #326
thank you @badboy this is done now!

[2022-09-12 03:41] #326 closed

[2022-09-12 05:27] #320 closed

[2022-09-12 05:54] m4b commented on #331
I'm not sure, since that returns some number someone might use, it could end up not being great? However I'm not sure what it would help by adding a saturating_sub in those additions / subtractions, since the bug would still be there, and isn't clear to me if one number converges to 0 if the other additions will just be as equally bad?

That could would also likely suffer readability with saturati

[2022-09-12 09:07] anfedotoff commented on #331
Yes, you are right, readability will suffer if we add some checks. My idea was to stop parsing and return  an error if overflow occured. But if we couldn't  say now that this overflow could lead to some error, I propose to do nothing with it.
As, I said before, goblin is used in our tools (Sydr & Casr). We plan to do some continuous fuzzing for goblin on our side. So, if this overflow will trigger

[2022-09-13 03:04] philipc commented on #331
The only way I can see that overflowing is if `file_alignment` is not a power of 2. Is that what your Sydr checker found?

Secondly, if it does overflow, it will be a large value, and thus ignored by the following compare. I think this would be better than use `saturating_sub`, because `saturating_sub` would return a size of 0 which doesn't seem right to me.

What this code needs to do is match wh

[2022-09-13 16:02] anfedotoff commented on #331
Sydr, somehow could overflow `file_alignment`. Maybe `file_alignment` is 0, it has usize type so there is a big value when we subtract -1. Here is the input for parse fuzz target:
[crash-sydr_b28e31470d668a648e83ba8d7f76ee43e245e770_int_overflow_17_unsigned.txt](https://github.com/m4b/goblin/files/9558781/crash-sydr_b28e31470d668a648e83ba8d7f76ee43e245e770_int_overflow_17_unsigned.txt)

Btw, we fo

[2022-09-16 05:55] philipc commented on #331
Thanks. Yes, that has a file_alignment of 0.

I'm not sure what you mean by dangerous. However, overflowing there would indicate a malformed file, and an error should be returned instead.

[2022-09-16 13:41] anfedotoff commented on #331
I mean, that there is no panic in release. Maybe return value of the function is checked by caller.

Agreed!:) I'll try to think some better check than ` if file_alignment == 0 {return Err();}` Maybe you have any ideas?

[2022-09-16 13:51] anfedotoff commented on #331
The alignment factor (in bytes) that is used to align the raw data of sections in the image file. The value should be a power of 2 between 512 and 64 K, inclusive. The default is 512. If the SectionAlignment is less than the architecture's page size, then FileAlignment must match SectionAlignment.
 I think, I know what to do:)

[2022-09-17 11:54] koutheir commented on #331
I think this situation can be triggered by parsing a valid PE executable that is larger than 4 GiB when `usize` is `u32`.

[2022-09-21 03:42] msuiche commented on #325
Looking for a similar answers, can we modify (removing/adding program_headers, adding NOTES, etc.) a parsed Elf object and write the modified file header to a target file.

[2022-09-25 13:59] msuiche commented on #325
Actually, if the structures had methods to know there current offset and to convert structs into [u8] - that would be way enough since they are repr(C)

[2022-09-30 17:42] manunio opened #334 "Integration with oss-fuzz fuzzing service"
Hi @m4b, I would like to help integrate this project into [OSS-Fuzz](https://github.com/google/oss-fuzz).

- As an initial step for integration I have created this PR: https://github.com/google/oss-fuzz/pull/8646, it contains necessary logic from an OSS-Fuzz perspective to integrate goblin.

- OSS-Fuzz is a free service run by Google that performs continuous fuzzing of important open source projec

[2022-10-08 23:46] nathaniel-daniel commented on #328
I think this is due to the line [here](https://github.com/m4b/goblin/blob/0.5.4/src/archive/mod.rs#L163) directly indexing into the name str without previously validating the byte indexes. In some cases, this could split a multibyte codepoint, so it wouldn't be able to return a str and panics instead. I think this line could be replaced with
[code]
to work around the issue.

[2022-10-09 03:07] m4b commented on #328
Ok sounds good let’s do it!

[2022-10-11 21:29] #328 closed

[2022-10-22 01:40] modwizcode commented on #66
How are breaking changes intended to be handled?

[2022-10-24 04:21] m4b commented on #287
I'm only a year late, and many releases since, but I've tagged it now I believe :)

[2022-10-24 04:21] #287 closed

[2022-10-24 04:22] m4b commented on #285
still interested in merging something like this, let me know if someone has time :)

[2022-10-24 04:23] m4b commented on #289
is there a specific usecase you want here, I think the archive api works for most people, so if you're having an issue, or you want to do something, feel free to re-open and paste with some example code, or make a PR demonstrating what you'd like, thanks!

[2022-10-24 04:23] #289 closed

[2022-10-24 04:24] m4b commented on #307
anyone want to test if this is still a bug?

[2022-10-24 04:27] m4b commented on #323
@puffyCid could you verify if this is happening again, and also post which version of goblin you're using.

[2022-10-24 04:28] m4b commented on #324
i'm hoping a hero comes along and fixes this issue :) @koutheir it sounds like `peek` just needs to be made aware of coff object file magic numbers?

[2022-10-24 04:33] m4b commented on #325
modifying binaries is a complex question; https://github.com/m4b/faerie is an example of an object file writer using goblin; that being said, modifying an existing binary/executable/shared library is possible, though the various pointers or offsets relied upon in various places would need to be updated.

since goblin assumes someone else owns the incoming bytes, the user could in theory write all

[2022-10-24 04:33] #325 closed

[2022-10-24 04:35] koutheir commented on #324
That should help.

[2022-10-24 04:39] m4b commented on #334
hi @manunio i would prefer not to sign up my email for this service, but if you feel like it and don't mind it, I don't see a problem with you signing up and either opening issues you find here or perhaps sending me an email if something serious is discovered :)

[2022-10-24 09:47] robbert-vdh commented on #307
I just tested the same file again with goblin 0.6.0 from crates.io, it still happens.